@use "../../../../assets/scss/variables" as vars;
.card-bg {
  background-color: vars.$primary-primary-100;
}

.status-card {
  max-width: 380px;
}

.status .card {
  border: 1px solid vars.$primary-primary-100; // Change border color to blue
  box-shadow: 0px 2px 2px 0px rgba(108, 108, 108, 0.1);
}

.skills .card {
  border: none;
  box-shadow: 0px 2px 2px 0px rgba(108, 108, 108, 0.1);
  background-color: vars.$neutral-grey-50;
  border-radius: 10px;
  overflow: hidden;
}

.p-10px {
  padding: 10px;
}

.min-w-5 {
  min-width: 82px;
}

.img-fluid {
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

.border-style {
  border: 1px solid vars.$primary-primary-500;
  padding: 10px 20px;
  border-radius: 40px;
}
.quick-border-style {
  border: 1px solid vars.$neutral-grey-200;
  padding: 8px 10px;
  border-radius: 10px;
}
.quick-btn {
  border: 1px solid vars.$primary-primary-800;
  color: vars.$primary-primary-900;
  padding: 8px 10px;
  border-radius: 10px;
}

canvas.status-chart {
  max-width: 120px; // Ensure the canvas fits within the available width
  max-height: 120px; // Ensure the canvas fits within the available width
  height: auto; // Maintain aspect ratio
}
canvas.skill-chart {
  max-width: auto; // Ensure the canvas fits within the available width
  max-height: 120px; // Ensure the canvas fits within the available width
  height: auto; // Maintain aspect ratio
}
