<div class="skeleton-container">
    @for (_ of [].constructor(circles); track $index) {
        <div class="skeleton skeleton-circle"></div>
    }

    @for (_ of [].constructor(squares); track $index) {
        <div class="skeleton skeleton-square"></div>
    }

    @for (_ of [].constructor(smallCircles); track $index) {
        <div class="skeleton small-circle"></div>
    }

    @for (_ of [].constructor(rectangles); track $index) {
        <div class="skeleton skeleton-rectangle"></div>
    }
</div>
