<div class="book-details">
  <div class="header">
    <div class="buttons"></div>
  </div>
  <div class="upper-section">
    <div class="book-cover-container">
      <div class="book-cover">
        <img [src]="storyDetails?.mainDetails?.cover" [alt]="storyDetails?.mainDetails?.title" />
      </div>
      <div class="book-info">
        <div>
          <div class="subject">Subject</div>
          <h1 class="title">{{ storyDetails?.mainDetails?.title }}</h1>
        </div>
        <div class="buttons">
          <button
            pButton
            label=""
            type="button"
            class="p-button-primary read-button"
            (click)="readNow()"
          >
            <span>Read</span>
            <img src="arrow-small-right.svg" alt="arrow" />
          </button>
          <button pButton label="" class="p-button-outlined show-button">
            <span>Hide</span>
            <img src="icon-eye.svg" alt="hide" />
          </button>
          <button pButton label="" class="p-button-outlined show-button">
            <span>Quick Assignment</span>
            <img src="icon-plus.svg" alt="arrow-right" />
          </button>
        </div>
      </div>
    </div>
    <div class="quick-stats">
      <div class="title">Quick Stats</div>
      <div class="summary">
        <div class="send-assignment">
          <button pButton label="" class="send-assignment-button">
            <img src="icon-send.svg" alt="send" />
            <span>Send as Assignment</span>
          </button>
        </div>
        <div class="box outlined">
          <div class="d-flex justify-content-between items-center gap-4">
            <div class="text">{{ storyDetails?.quickStats?.read?.labelName }}</div>
            <div class="icon">
              <img [src]="storyDetails?.quickStats?.read?.icon" alt="arrow-right" />
            </div>
          </div>
          <div class="number">{{ storyDetails?.quickStats?.read?.title }}</div>
        </div>
        <div class="box outlined">
          <div class="d-flex justify-content-between items-center gap-4">
            <div class="text">{{ storyDetails?.quickStats?.questionsSolved?.labelName }}</div>
            <div class="icon">
              <img [src]="storyDetails?.quickStats?.questionsSolved?.icon" alt="arrow-right" />
            </div>
          </div>
          <div class="number">{{ storyDetails?.quickStats?.questionsSolved?.title }}</div>
        </div>
        <div class="box outlined">
          <div class="d-flex justify-content-between items-center gap-4">
            <div class="text">{{ storyDetails?.quickStats?.timeSpent?.labelName }}</div>
            <div class="icon">
              <img [src]="storyDetails?.quickStats?.timeSpent?.icon" alt="arrow-right" />
            </div>
          </div>
          <div class="number">{{ storyDetails?.quickStats?.timeSpent?.title }}</div>
        </div>
      </div>
    </div>
  </div>

  <div class="lower-section">
    <div class="tabs">
      <div
        class="tab"
        [class.selected]="activeTab === 'book-details'"
        (click)="activeTab = 'book-details'"
      >
        Book Details
      </div>
      <div
        class="tab"
        [class.selected]="activeTab === 'questions'"
        (click)="activeTab = 'questions'"
      >
        Questions
      </div>
    </div>

    <div class="tab-content">
      @if(activeTab === 'book-details'){
        <app-book-info [bookDetails]="storyDetails?.details" [uploadedFiles]="storyDetails?.files" />
      }@else {
        <app-book-questions [questions]="questions.questions" />
      }
    </div>
  </div>
</div>

@if (showReader) {
  <app-html-dialog [(ngModel)]="showReader" [storyId]="storySummarry.storyId" />
}
