@use "../../../../../../assets/scss/variables" as vars;

.btn {
  border: 1px solid vars.$primary-primary-900;
  color: vars.$primary-primary-900;
  font-weight: 600;
  font-size: 12px;
  transition: all 0.3s ease;
  &:hover {
    background-color: vars.$primary-primary-900;
    color: white;
  }
}