<div class="container mt-4">
  <div class="input-group me-2">
    <input
      type="text"
      class="form-control search"
      placeholder="Search"
      aria-label="Search"
    />
    <span class="input-group-text search" id="search-icon">
      <img
        src="assets/icons/search-sort/search-01.svg"
        alt="search"
        width="24px"
        height="24px"
      />
    </span>
  </div>
  <hr class="my-4" />
  <h2 class="fs-5 mb-4">Skills</h2>

  <div class="row row-cols-1 g-3">
    @for (skill of skills; track $index) {
    <div class="card h-100 col">
      <div class="card-body d-flex justify-content-between align-items-center">
        <div class="me-2">
          <h5 class="mb-3 card-title">{{ skill.title }}</h5>
          <div class="tag-container">
            @if(skill.levels){ @for (level of skill.levels; track $index) {
            <div class="tags-value">
              <span class="fw-bold">{{ level }}</span>
            </div>
            } }
          </div>
        </div>
        <div class="col-3 d-flex flex-column">
          <div class="d-flex align-items-center justify-content-end mb-2">
            <img
              src="assets/icons/single-skill/user-multiple-02.svg"
              alt="user-multiple"
              class="me-2 cursor-pointer"
              width="34px"
              height="34px"
            />
            <img
              src="assets/icons/single-skill/open.svg"
              alt="open"
              class="me-2 cursor-pointer"
              width="34px"
              height="34px"
            />
            <img
              src="assets/icons/single-skill/view.svg"
              alt="view"
              class="me-2 cursor-pointer"
              width="34px"
              height="34px"
            />
            <button class="btn btn-style">Activate Skill</button>
          </div>

          @if(skill.lastUpdated){
          <div class="activation">Activation: {{ skill.lastUpdated }}</div>
          }
        </div>
      </div>
    </div>
    }
  </div>
</div>
