<p-dialog [dismissableMask]="true" [(visible)]="showReader" [closable]="true" [modal]="false" [style]="{ width: '60vw', height: '90vh' }" [draggable]="false" (onHide)="hideDialog()"
    [resizable]="false" [closeOnEscape]="true" [showHeader]="false">
    <div class="book-reader">
        <div class="galleria-container">
            <p-galleria [value]="storyPagesResponse.pages" [showItemNavigators]="true" [showThumbnails]="false" [showIndicators]="false"
                [circular]="true" [responsiveOptions]="responsiveOptions" [(activeIndex)]="activeIndex" (activeIndexChange)="nextPage()">
                <ng-template pTemplate="item" let-item>
                    <!-- Dynamically render sanitized HTML content -->
                    <div [innerHTML]="getSanitizedContent(item.htmlContent)"></div>
                </ng-template>

                <ng-template pTemplate="previousitemicon">
                    <img src="arrow-left-gray.svg" alt="" />
                </ng-template>

                <ng-template pTemplate="nextitemicon">
                    <i class="pi pi-trash custom-nav-icon">
                    </i>
                </ng-template>
            </p-galleria>
        </div>

        <!-- Custom Indicator to show the current page -->
        <div class="custom-indicator">
            <span class="page-number">{{ activeIndex + 1 }}/{{ storyPagesResponse.totalRecords }}</span>
        </div>
    </div>
</p-dialog>
