<div class="domain">
  <div class="title">Assignment Domains and skills</div>

  <div class="selection-boxes">
    <div class="selection-box" [class.selected]="selectedOption === 'showCorrectAnswer'"
      (click)="selectedOption = 'showCorrectAnswer'">
      <p-radioButton [(ngModel)]="selectedOption" value="showCorrectAnswer"
        [inputId]="'showCorrectAnswer'"></p-radioButton>
      <span>Show correct answer</span>
    </div>
    <div class="selection-box" [class.selected]="selectedOption === 'allQuestions'"
      (click)="selectedOption = 'allQuestions'">
      <p-radioButton [(ngModel)]="selectedOption" value="allQuestions" [inputId]="'allQuestions'"></p-radioButton>
      <div>
        <span>Same questions for all students </span>
        <div class="sub-title">
          System shows different questions if unselected.
        </div>
      </div>
    </div>
  </div>

  <div class="total">Total questions: {{totalQuestions}}</div>

  <div class="domain-list">
    @for (domain of domains; track $index) {
    <p-panel [toggleable]="true" [collapsed]="domain.isCollapsed">
      <ng-template pTemplate="header">
        <div class="panel-header">
          <span class="header-label">Domain details</span>
          <div class="header-actions">
            <div class="total-questions">
              <span>Total questions: {{domain.totalQuestions}}</span>
            </div>
            <img src="icon-trash-red-large.svg" alt="" (click)="removeDomain(domain.id)" />
            <img src="arrow-gray-down.svg" alt="" (click)="toggleCollapse(domain)"
              [class.rotated]="!domain.isCollapsed" />
          </div>
        </div>
      </ng-template>

      <div class="panel-content">
        <div class="domain-selection">
          <div class="control-title">Pick a skill domain</div>
          <p-dropdown [options]="domain.skillDomains" name="selectedSkillId" [(ngModel)]="domain.id"
            optionLabel="name" optionValue="domainId" placeholder="Pick a skill domain"
            (ngModelChange)="onDomainSelect($event , domain)" [style]="{ width: '100%' }"></p-dropdown>
        </div>

        @if (domain.skills.length) {
        <div class="search-container">
          <span class="p-input-icon-left">
            <img src="icon-search.svg" alt="search" />
            <input pInputText type="text" placeholder="Search for a skill" name="searchValue" [(ngModel)]="searchValue"
              (ngModelChange)="onDomainSelect(selectedSkillId , domain)" class="search-input" />
          </span>
        </div>
      }

        @if (domain.skills.length) {
        <div class="skills-grid">
          <div class="grid-header">
            <div class="header-cell">Skill</div>
            <div class="header-cell">Beginner</div>
            <div class="header-cell">Medium</div>
            <div class="header-cell">Advanced</div>
          </div>
          @for (skill of domain.skills; track $index) {
          <div class="grid-row">
            <div class="grid-cell">{{ skill.name }}</div>
            <div class="grid-cell">
              <div class="input-container">
                <p-inputNumber [showButtons]="false" [name]="'beginnerValue' + $index" [(ngModel)]="skill.beginnerValue"
                  (ngModelChange)="updateValues(skill, 'beginner' , domain)" [min]="0" [max]="skill.beginnerQuestionsCount"
                  [style]="{ width: '100%' }"></p-inputNumber>
                <div class="out-of">{{skill.beginnerQuestionsCount}}</div>
              </div>
              <img src="icon-eye-blue-box.svg" class="pointer" alt=""
                (click)="openQuestionPreview(skill.name, 'beginner')" />
            </div>
            <div class="grid-cell">
              <div class="input-container">
                <p-inputNumber [showButtons]="false" [name]="'intermediateValue' + $index"
                  [(ngModel)]="skill.intermediateValue" (ngModelChange)="updateValues(skill, 'intermediate' , domain)" [min]="0"
                  [max]="skill.intermediateQuestionsCount" [style]="{ width: '100%' }"></p-inputNumber>
                <div class="out-of">{{skill.intermediateQuestionsCount}}</div>
              </div>
              <img src="icon-eye-blue-box.svg" class="pointer" alt=""
                (click)="openQuestionPreview(skill.name, 'intermediate')" />
            </div>
            <div class="grid-cell">
              <div class="input-container">
                <p-inputNumber [showButtons]="false" [name]="'advanceValue' + $index" [(ngModel)]="skill.advanceValue"
                  (ngModelChange)="updateValues(skill, 'advanced' , domain)" [min]="0" [max]="skill.advanceQuestionsCount"
                  [style]="{ width: '100%' }"></p-inputNumber>
                <div class="out-of">{{skill.advanceQuestionsCount}}</div>
              </div>
              <img src="icon-eye-blue-box.svg" class="pointer" alt=""
                (click)="openQuestionPreview(skill.name, 'advanced')" />
            </div>
          </div>
          }

        </div>
        }
      </div>
    </p-panel>
    }

    <button pButton label="" class="p-button-outlined add-domain-btn" (click)="addDomain()">
      <img src="icon-add-circle.svg" alt="" />
      <span>Add domain</span>
    </button>
  </div>

  <!-- Question Preview Popup -->
  <app-question-preview-popup [(visible)]="showQuestionPreview" [skillName]="selectedSkillName"
    [difficultyLevel]="selectedDifficultyLevel"
    (questionsSelected)="onQuestionsSelected($event)"></app-question-preview-popup>
</div>