.question-answer {
  display: flex;
  flex-direction: column;
  gap: var(--padding-xl);
  padding: var(--padding-m);

  .question {
    .info-box {
      padding: var(--padding-xl);
      border: 1px solid var(--primary-primary-200);
      border-radius: var(--radius-m);
      overflow: hidden;
      display: flex;
      gap: var(--padding-m);

      .box-title {
        padding-bottom: var(--padding-xxs);
        color: var(--primary-primary-900);
        font-size: var(--font-size-m);
        font-weight: var(--font-weight-bold);
      }

      .box-content {
        p {
          margin: 0;
          color: var(--primary-primary-900);
          font-size: var(--font-size-s);
          line-height: 1.5;
        }
      }
    }

    &.audio-question {
      .info-box {
        background-color: var(--primary-primary-50);
      }
    }
  }

  .answer {
    .info-box {
      padding: var(--padding-xl);
      border: 1px solid var(--primary-primary-200);
      border-radius: var(--radius-m);
      background-color: var(--primary-primary-50);
      overflow: hidden;
      display: flex;
      gap: var(--padding-m);

      .box-title {
        padding-bottom: var(--padding-xxs);
        color: var(--primary-primary-900);
        font-size: var(--font-size-m);
        font-weight: var(--font-weight-bold);
      }

      .answer-content {
        display: flex;
        flex-direction: column;
        flex: 1;

        .box-content {
          display: flex;
          align-items: center;
          justify-content: center;

          p {
            margin: 0;
            color: var(--primary-primary-900);
            font-size: var(--font-size-s);
            line-height: 1.5;
          }

          .image {
            img {
              width: 100%;
              height: 100%;
              object-fit: contain;
            }
          }
        }
        .slides-arrows {
          display: flex;
          align-items: center;
          gap: var(--padding-m);
          justify-content: center;
          margin: var(--padding-l) 0 0;

          .page-number {
            color: var(--primary-primary-900);
            font-size: var(--font-size-xs);
            font-weight: var(--font-weight-bold);
          }

          .arrow-container {
            width: 40px;
            height: 40px;
            display: flex;
            align-items: center;
            justify-content: center;
            background: var(--neutral-white);
            border-radius: var(--radius-s);
            border: 1px solid var(--neutral-grey-200);

            &.left {
              transform: rotate(180deg);
            }
          }
        }
      }
    }
  }
}
