
    <div class="units-list">
      <div class="unit-card">
        <div class="unit-content">
          <h3 class="unit-title">{{ isSingleSkill(skill) ? skill.displayName : skill.skillName }}</h3>
          <div class="d-flex gap-3">
            <div class="badge">
              Beginner <span class="number">{{ skill.easyStudentsCount || 0 }}</span>
            </div>
            <div class="badge">
              Average <span class="number">{{ skill.meduimStudentsCount || 0 }}</span>
            </div>
            <div class="badge">
              Advanced <span class="number">{{ skill.hardStudentsCount || 0 }}</span>
            </div>
          </div>
        </div>
        <div class="d-flex flex-column gap-1 align-items-end justify-content-between">
          <div class="d-flex gap-2 align-items-center justify-content-between">
            <a (click)="getStudents(skill.learningOutcomeId ?skill.learningOutcomeId : skill.id)">
              <div class="action-icon">
                <img src="icon-multiple-users.svg" alt="users" />
                <span class="action-icon-text">Students</span>
              </div>
            </a>
            <a (click)="getSmartBoardDetails()">
              <div class="action-icon">
                <img src="icon-cards.svg" alt="cards" />
                <span class="action-icon-text">Cards</span>
              </div>
            </a>
            <button pButton label="" class="assignment-button">
              <img src="icon-plus.svg" alt="plus" />
              <span>Assignment</span>
            </button>
            <div class="custom-radio-container">
              <div class="custom-radio" [class.active]="skill.isEnabled" (click)="toggleActive(skill)">
                <div class="radio-content" [class.reverse]="!skill.isEnabled">
                  <span class="status-text">{{ skill.isEnabled ? 'ACTIVE' : 'OFF' }}</span>
                  <img [src]="skill.isEnabled ? 'icon-radio-checked.svg' : 'icon-radio-unchecked.svg'" alt="check">
                </div>
              </div>

              @if(skill.activationDate) {
                <div class="activation-date">
                  <span>{{ skill.activationDate }}</span>
                </div>
                }
            </div>
          </div>
        </div>
      </div>



</div>

<!-- Custom Dialog -->
<app-skill-activation-modal [(visible)]="activateSkill" [style]="{ width: '450px' }" [modal]="true" [closable]="true" [sections]="sections"
  [closeOnEscape]="true" (activateSections)="_activateSkill($event)"></app-skill-activation-modal>

@if (showSmartBoard) {
  <!-- Smart Board -->
<app-smart-board (visibleChange)="showSmartBoard = false" [visible]="showSmartBoard" [skillId]="0" [learningOutcomeId]="skill.learningOutcomeId ? skill.learningOutcomeId : skill.id"
[skillTitle]="'Static Lesson Title'"></app-smart-board>
}

<!-- User Drawer -->
<app-user-drawer (visibleChange)="showUserDrower = false" [visible]="showUserDrower"
  [sections]="levels"></app-user-drawer>