@use "../../../../assets/scss/variables" as vars;
@use 'sass:color';

.leveled-reading {
  text-align: start;
  padding: 20px;

  .header-btn {
    display: flex;
    justify-content: end;
    gap: 20px;

    .btn {
      border: 1px solid vars.$primary-primary-900;
      color: vars.$primary-primary-900;
      font-weight: 600;
      font-size: 12px;
      transition: all 0.3s ease;

      &:hover {
        background-color: vars.$primary-primary-900;
        color: white;
      }
    }
    .btn-filter {
      border: 1px solid vars.$neutral-grey-200;
      color: vars.$neutral-grey-200;
      font-weight: 600;
      font-size: 12px;
      transition: all 0.3s ease;

      &:hover {
        background-color: vars.$primary-primary-900;
        color: white;
      }
    }
  }
  .search,
  input {
    border-inline-end: none;
  }

  .search-container {
    background-color: transparent;
    border: 1px solid vars.$neutral-grey-200;
    border-radius: 16px;
    padding: 4px 12px;
    max-width: 200px;
    height: 32px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media screen and (max-width: 921px) {
      max-width: 100%; // Makes it take full width
      width: 100%; // Ensures it stretches across the container
    }

    input {
      border: none;
      width: 100%;
      &::placeholder {
        font-size: 14px;
        color: vars.$neutral-grey-200;
      }
      &:focus-visible {
        outline: none;
      }
    }
  }
  .section-title {
    color: vars.$primary-primary-900;
    font-size: 16px;
  }
  .book-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    gap: 32px;
    justify-content: start;
    .card {
      border: 1px solid vars.$neutral-grey-200;
      border-radius: 8px;
      overflow: hidden;
      background-color: white;
      box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
      transition: transform 0.3s ease-in-out;
      width: 100%;
      max-height: 150px;
      display: flex;
      flex-direction: row;

      &:hover {
        transform: translateY(-5px);
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
      }

      .book-cover {
        width: 100%;
        height: auto;
        max-width: 120px;
        object-fit: cover;
        border-radius: 4px;
      }

      .card-body {
        width: 100%;
        padding: 12px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        text-align: start;

        .book-desc-title {
          font-size: 14px;
          font-weight: 700;
          color: vars.$primary-primary-900;
        }

        .book-desc-author,
        .book-desc-student {
          font-size: 12px;
          color: vars.$neutral-grey-500;
        }

        .view-book {
          background-color: vars.$primary-primary-300;
          color: vars.$primary-primary-900;
          padding: 8px;
          font-size: 12px;
          font-weight: 700;
          border: none;
          cursor: pointer;
          border-radius: 4px;
          width: 100%;
          transition: background 0.3s ease;

          &:hover {
            background-color: color.scale(vars.$primary-primary-300, $lightness: -10%);                      }
        }
      }
    }
  }
}
