.leveled-reading {
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--padding-xl) var(--padding-m);
    margin-bottom: var(--padding-m);
    border-bottom: 1px solid var(--neutral-grey-200);

    .tabs {
      display: flex;

      .tab {
        height: 17px;
        padding: 0 var(--padding-m);
        text-align: center;
        color: var(--neutral-grey-600);
        font-size: var(--font-size-xs);
        cursor: pointer;

        &:nth-child(1) {
          border-right: 1px solid var(--primary-primary-900);
          padding-left: 0;
        }

        &.selected {
          color: var(--primary-primary-900);
          text-decoration: underline;
        }
      }
    }

    .buttons {
      display: flex;
      gap: var(--padding-s);

      .show-button {
        padding: var(--padding-xs);
        border-radius: 10px;
        border: 1px solid var(--primary-primary-900);
        color: var(--primary-primary-900);
        font-size: var(--font-size-xxs);
        font-weight: var(--font-weight-bold);

        &:hover {
          background-color: var(--primary-primary-100);
        }
      }
    }
  }
}
