.leveled-reading {
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--padding-m) 0 0;
    margin: var(--padding-2xl) 0;
    border-bottom: 1px solid var(--neutral-grey-200);

    .tabs {
      display: flex;

      .tab {
        height: 17px;
        padding: var(--padding-xl);
        text-align: center;
        color: var(--neutral-grey-600);
        font-size: var(--font-size-xs);
        cursor: pointer;

        &.selected {
          color: var(--primary-primary-900);
          font-weight: var(--font-weight-bold);
          border-bottom: 2px solid var(--primary-primary-900);
        }
      }
    }

    .buttons {
      display: flex;
      gap: var(--padding-s);

      .show-button {
        padding: var(--padding-xs);
        border-radius: 10px;
        border: 1px solid var(--primary-primary-900);
        color: var(--primary-primary-900);
        font-size: var(--font-size-xxs);
        font-weight: var(--font-weight-bold);

        &:hover {
          background-color: var(--primary-primary-100);
        }
      }
    }
  }
}
