<div class="leveled-reading">
  <div class="header">
    <div class="tabs">
      <div
        class="tab"
        [class.selected]="selectedTab === 'book-list'"
        (click)="selectedTab = 'book-list'"
      >
        Book List
      </div>
      <div
        class="tab"
        [class.selected]="selectedTab === 'leveled-reading'"
        (click)="selectedTab = 'leveled-reading'"
      >
        Leveled Reading
      </div>
    </div>
    <div class="buttons">
      <button
        pButton
        label=""
        class="p-button-outlined show-button"
        (click)="showStudentLevel()"
      >
        <span>Show Student Level</span>
      </button>
      <button
        pButton
        label=""
        class="p-button-outlined show-button"
        (click)="showCriteria()"
      >
        <span>Show Criteria</span>
      </button>
    </div>
  </div>
  <div class="content">
    @if(selectedTab === 'book-list') {
      <app-book-list-view />
    } @else {
      <app-leveled-reading-view />
    }
  </div>
</div>
