<div class="assignment-information">
  <div class="pick-word">Pick Target</div>
  <div class="form-group">
    <div class="target-chips">
      @for (target of targets; track target.id) {
        <div 
          class="target-chip" 
          [class.selected]="isTargetSelected(target)"
          (click)="onTargetChange(target)"
        >
          {{ target.name }}
        </div>
      }
    </div>
  </div>

  <div class="form-group mb-5">
    <div class="label">Grade</div>
    <p-select
      id="grade"
      [options]="grades"
      [(ngModel)]="assignmentInformation.grade"
      optionLabel="name"
      placeholder="Select Grade"
      [showClear]="true"
      (onChange)="onGradeChange($event.value)"
      class="w-100"
    ></p-select>
  </div>

  <div class="form-group">
    <div class="label">Section</div>
    <p-select
      id="section"
      [options]="sections"
      [(ngModel)]="assignmentInformation.section"
      optionLabel="name"
      placeholder="Select Section"
      [showClear]="true"
      (onChange)="onSectionChange($event.value)"
      class="w-100"
    ></p-select>
  </div>
</div>
