<div class="book-reading">
  @if (readingSubmissionDetails.storyDetails) {
  <div class="book-card">
    <div class="book-cover">
      <img [src]="readingSubmissionDetails.storyDetails.coverUrl"
        [alt]="readingSubmissionDetails.storyDetails.title" />
    </div>
    <div class="book-details">
      <div class="title">{{ readingSubmissionDetails.storyDetails.title }}</div>
      <p class="sub-level">
        Sub Level: <b>{{ readingSubmissionDetails.storyDetails.subLevelName
          }}</b>
      </p>
      <p class="author">
        Author Name: <b>{{ readingSubmissionDetails.storyDetails.authorName
          }}</b>
      </p>
      <p class="student-level">
        Main level: <b>{{ readingSubmissionDetails.storyDetails.mainLevelName
          }}</b>
      </p>
    </div>
    <div class="book-actions">
      <a
        pButton
        [href]="readingSubmissionDetails.storyDetails.audioUrl"
        target="_blank"
        label
        class="p-button-outlined">
        <img src="icon-audio.svg" alt="view" />
      </a>
      <button
        pButton
        label
        class="p-button-outlined"
        (click)="showPreviewPopup = true">
        <img src="icon-eye.svg" alt="view" />
      </button>
    </div>
  </div>
  }

  @if (skills) {
  <app-multiple-questions
    [submissionId]="submissionId"
    [studentId]="studentId" />
  }
</div>

@if (showPreviewPopup) {
<app-html-dialog [(ngModel)]="showPreviewPopup" />
}
