<div class="units-list">
  <a class="text-decoration-none" role="button" tabindex="0" (click)="clickedCard(card)">
    <div class="unit-card">
      <div class="unit-content">
        <h3 class="unit-title">
          {{ card.unitLabelName }}
        </h3>
        <p class="unit-description">{{ card.unitName }}</p>
      </div>
      <div class="unit-icon">
        <img src="icon-blue-arrow-square.svg" [style]="'ltr' == ('DIR' | translate) ? '' : 'transform: rotate(180deg);'" alt="arrow-right" />
      </div>
    </div>
  </a>

</div>