<div class="pick-a-type">Pick A type</div>
<div class="assignment-type-container">
@for (assignmentType of assignmentTypes; track $index) {
    <div
    class="assignment-type-item"
    [class.selected]="selectedAssignmentType?.name === assignmentType.name"
    (click)="selectAssignmentType(assignmentType)"
  >
    <div class="assignment-type-item-icon">
      <img [src]="assignmentType.iconUrl" alt="" />
    </div>
    <div class="assignment-type-item-title">{{ assignmentType.name }}</div>
  </div>
}
</div> 