<div class="units-list">
  <a class="text-decoration-none" role="button" tabindex="0">
    <div class="unit-card">
      <div class="unit-content">
        <h3 class="unit-title">
          {{ isLesson(card) ? card.lessonName : card.name }}
        </h3>
        <p class="unit-description">Number of Skills: {{ card.skillsCount }}</p>
      </div>
      <div class="unit-actions">
        <button pButton label="" class="assignment-button">
          <img src="icon-plus.svg" alt="plus" />
          <span>Assignment</span>
        </button>
        @if(isLesson(card)){
        <button pButton label="" class="p-button-primary view-button" (click)="clickedCard(card)">
          <span>{{ getViewButtonText(card) }}</span>
          <img src="arrow-small-right.svg" alt="view" />
        </button>
        }@else if (!isLesson(card) && card.skillsCount > 0 ) {
        <button pButton label="" class="p-button-primary view-button" (click)="clickedCard(card)">
          <span>{{ getViewButtonText(card) }}</span>
          <img src="arrow-small-right.svg" alt="view" />
        </button>
        }
        <div class="custom-radio-container">
          <div class="custom-radio" [class.active]="card.isActive" (click)="toggleActive(card)">
            <div class="radio-content" [class.reverse]="!card.isActive">
              <span class="status-text">{{ card.isActive ? 'ACTIVE' : 'OFF' }}</span>
              <img [src]="card.isActive ? 'icon-radio-checked.svg' : 'icon-radio-unchecked.svg'" alt="check">
            </div>
          </div>
        </div>
      </div>
    </div>
  </a>
</div>

<app-skill-activation-modal [(visible)]="activateSkill" [style]="{ width: '450px' }" [modal]="true" [closable]="true" [sections]="sections"
  [closeOnEscape]="true" (activateSections)="_activateSkill($event)"></app-skill-activation-modal>