<p-sidebar
  [(visible)]="visible"
  position="right"
  [style]="{ width: '400px' }"
  [showCloseIcon]="false"
  [modal]="true"
  [closeOnEscape]="false"
  (onHide)="closeDrawer()"
  (click)="closeDrawer()"
>
  <div class="drawer-header" (click)="$event.stopPropagation()">
    <button class="close-button gap-3" (click)="closeDrawer()">
      <img src="arrow-left-gray.svg" alt="close" />
      <span>Students</span>
    </button>
    <button pButton label="" class="assignment-button">
      <img src="icon-plus.svg" alt="plus" />
      <span>Send Assignment</span>
    </button>
  </div>

  <div class="drawer-content" (click)="$event.stopPropagation()">
    @for (section of sections; track section.levelId) { 
    <div class="user-section">
      <div class="section-header">
        <h3 class="section-title">
          {{ section?.levelName }} ({{ section?.studentsOfLevel?.length }})
        </h3>
        <div class="section-status">{{ "Mastered" }}</div>
      </div>

      <div class="user-list">
        @for (user of section.studentsOfLevel; track user.studentName) {
        <div class="user-item">
          <div class="user-info">
            <p-checkbox 
              [(ngModel)]="user.isSelected" 
              [binary]="true"
              inputId="user-{{user.studentName}}"
            ></p-checkbox>
            <div class="user-avatar">
              <img src="icon-user.svg" alt="User" />
            </div>
            <span class="user-name">{{ user.studentName }}</span>
          </div>
          <div class="user-action">
            @if (user.isMastered) {
            <img src="icon-green-flag.svg" alt="flag" />
            } @else {
            <img src="icon-red-flag.svg" alt="flag" />
            }
          </div>
        </div>
        }
      </div>
    </div>
    }
  </div>
</p-sidebar>
