<div class="assignments">
  <div class="header">
    <div class="d-flex justify-content-between align-items-center">
      <div class="search-container">
        <span dir="ltr" class="p-input-icon-left d-flex align-items-center position-relative">
          <input
            type="text"
            pInputText
            placeholder="{{'SEARCH' | translate}}"
            class="search-input"
            (change)="_onSearchChange($event)"
            [value]="searchTerm"
          />
          <img src="icon-search.svg" alt="search" class="position-absolute end-0 pe-3" />
        </span>
        <button #filterBtn pButton type="button" class="p-button-text filter-button" (click)="filterContent.toggle($event)">
          <img src="icon-filter.svg" alt="filter" />
        </button>
        <button pButton type="button" label="{{'ADVANCED_SEARCH' | translate}}" class="p-button-primary advanced-search-button" (click)="onAdvancedSearch()"></button>
      </div>
      <div class="buttons">
        <button pButton label="" class="p-button-outlined show-button" (click)="newAssignment()">
          <span>{{'NEW_ASSIGNMENT' | translate}}</span>
          <img src="icon-plus-sml.svg" alt="plus" />
        </button>
      </div>
    </div>

    <div class="content px-0" *ngIf="showAdvancedSearch">
      <div class="advanced-search" *ngIf="selectedTab === 'live'">
        <div class="advanced-filters">
          <p-select [options]="sectionFilter.subjects" [(ngModel)]="assignmentPayload.subjectId" name="subjectId" (ngModelChange)="getAssignmentSectionFilters();assignmentPayload.gradeIds = [];assignmentPayload.courseSectionIds = [];" placeholder="{{'SUBJECTS' | translate}}" [showClear]="false" optionLabel="name" optionValue="subjectId"></p-select>
          <p-multiselect [options]="sectionFilter.grades" [(ngModel)]="assignmentPayload.gradeIds" name="gradeIds" (ngModelChange)="getAssignmentSectionFilters();assignmentPayload.courseSectionIds = [];" placeholder="{{'GRADE' | translate}}" [showClear]="false" optionLabel="name" optionValue="gradeId"></p-multiselect>
          <p-multiselect [options]="sectionFilter.sections" [(ngModel)]="assignmentPayload.courseSectionIds" name="courseSectionIds" (ngModelChange)="getAssignmentSectionFilters();" placeholder="{{'HOMEROOMS' | translate}}" [showClear]="false" optionLabel="name" optionValue="courseSectionId"></p-multiselect>
          <p-datePicker [(ngModel)]="startDate" placeholder="{{'START_DATE' | translate}}" [showClear]="false" dateFormat="yy-mm-dd"></p-datePicker>
          <p-datePicker [(ngModel)]="endDate" placeholder="{{'END_DATE' | translate}}" [showClear]="false" dateFormat="yy-mm-dd"></p-datePicker>
          <p-datePicker [(ngModel)]="creationDate" placeholder="{{'CREATION_DATE' | translate}}" [showClear]="false" dateFormat="yy-mm-dd"></p-datePicker>
          <p-multiselect [options]="assignmentTypes" [(ngModel)]="assignmentPayload.assignmentTypeIds" placeholder="{{'ASSIGNMENT_TYPE' | translate}}" [showClear]="false" optionLabel="name" optionValue="assignmentTypeId"></p-multiselect>
          <p-multiselect [options]="assignmentFilter.filterStatus" [(ngModel)]="assignmentPayload.assignmentStatuses" placeholder="{{'ASSIGNMENT_STATUS' | translate}}" [showClear]="false" optionLabel="name" optionValue="id"></p-multiselect>
          <p-select [options]="assignmentFilter.filterSortBy" [(ngModel)]="assignmentPayload.sortBy" placeholder="{{'SORT_BY' | translate}}" [showClear]="false" optionLabel="name" optionValue="id"></p-select>
          <p-select [options]="assignmentFilter.filterOrders" [(ngModel)]="assignmentPayload.order" placeholder="{{'ORDER' | translate}}" [showClear]="false" optionLabel="name" optionValue="id"></p-select>
          <p-select [options]="assignmentFilter.recipientTypes" [(ngModel)]="assignmentPayload.recipientId" placeholder="{{'RECIPIENT' | translate}}" [showClear]="false" optionLabel="name" optionValue="recipientId"></p-select>
        </div>
        <div class="advanced-search-actions">
          <div class="clear-button" (click)="onResetAdvancedSearch()">
            <span>{{'CLEAR_FILTERS' | translate}}</span>
          </div>
          <button pButton label="{{'SEARCH_BUTTON' | translate}}" [disabled]="
              !assignmentPayload.subjectId &&
              !assignmentPayload.gradeIds.length &&
              !assignmentPayload.courseSectionIds.length &&
              !assignmentPayload.assignmentTypeIds.length &&
              !assignmentPayload.assignmentStatuses.length &&
              !assignmentPayload.sortBy &&
              !assignmentPayload.order &&
              !assignmentPayload.recipientId &&
              !startDate &&
              !endDate &&
              !creationDate
            " class="p-button-primary" (click)="getAssignments()"></button>
        </div>
      </div>
    </div>

    <div class="tabs">
      <div class="tab" [class.selected]="selectedTab === 'live'" (click)="onTabClick('live')">{{'LIVE' | translate}}</div>
      <div class="tab" [class.selected]="selectedTab === 'closed'" (click)="onTabClick('closed')">{{'CLOSED' | translate}}</div>
    </div>
  </div>

  <div class="content">
    <div class="grid-header">
      <div class="header-item title">
        <span>{{'TITLE' | translate}}</span>
        <img src="icon-sort.svg" alt="sort" (click)="onSort('title')" [src]="sortColumn === 'title' ? sortDirection === 'asc' ? 'icon-sort-asc.svg' : 'icon-sort.svg' : 'icon-sort.svg'" />
      </div>
      <div class="header-item status">
        <span>{{'STATUS' | translate}}</span>
        <img src="icon-sort.svg" alt="sort" (click)="onSort('status')" [src]="sortColumn === 'status' ? sortDirection === 'asc' ? 'icon-sort-asc.svg' : 'icon-sort.svg' : 'icon-sort.svg'" />
      </div>
      <div class="header-item avg-score">
        <span>{{'AVG_SCORE' | translate}}</span>
        <img src="icon-sort.svg" alt="sort" (click)="onSort('avgScore')" [src]="sortColumn === 'avgScore' ? sortDirection === 'asc' ? 'icon-sort-asc.svg' : 'icon-sort.svg' : 'icon-sort.svg'" />
      </div>
      <div class="header-item target">
        <span>{{'TARGET' | translate}}</span>
        <img src="icon-sort.svg" alt="sort" (click)="onSort('target')" [src]="sortColumn === 'target' ? sortDirection === 'asc' ? 'icon-sort-asc.svg' : 'icon-sort.svg' : 'icon-sort.svg'" />
      </div>
      <div class="header-item assigned-by">
        <span>{{'CORRECTED_BY' | translate}}</span>
        <img src="icon-sort.svg" alt="sort" (click)="onSort('assignedBy')" [src]="sortColumn === 'assignedBy' ? sortDirection === 'asc' ? 'icon-sort-asc.svg' : 'icon-sort.svg' : 'icon-sort.svg'" />
      </div>
      <div class="header-item post-date">
        <span>{{'START_DATE' | translate}}</span>
        <img src="icon-sort.svg" alt="sort" (click)="onSort('startDate')" [src]="sortColumn === 'startDate' ? sortDirection === 'asc' ? 'icon-sort-asc.svg' : 'icon-sort.svg' : 'icon-sort.svg'" />
      </div>
      <div class="header-item due-date">
        <span>{{'END_DATE' | translate}}</span>
        <img src="icon-sort.svg" alt="sort" (click)="onSort('dueDate')" [src]="sortColumn === 'dueDate' ? sortDirection === 'asc' ? 'icon-sort-asc.svg' : 'icon-sort.svg' : 'icon-sort.svg'" />
      </div>
      <div class="header-item submissions">
        <span>{{'SUBMISSIONS' | translate}}</span>
        <img src="icon-sort.svg" alt="sort" (click)="onSort('submissions')" [src]="sortColumn === 'submissions' ? sortDirection === 'asc' ? 'icon-sort-asc.svg' : 'icon-sort.svg' : 'icon-sort.svg'" />
      </div>
      <div class="header-item submissions">
        <span>{{'ACTIONS' | translate}}</span>
        <img src="icon-sort.svg" alt="sort" (click)="onSort('submissions')" [src]="sortColumn === 'submissions' ? sortDirection === 'asc' ? 'icon-sort-asc.svg' : 'icon-sort.svg' : 'icon-sort.svg'" />
      </div>
    </div>

    <div class="assignments-list">
      <div class="assignment-row" [class.active]="selectedTab === 'live'" *ngFor="let assignment of assignments.assignments">
        <div class="item title">{{ assignment.title }}</div>
        <div class="item status">
          <span>
            <div class="dot"></div>
            {{ assignment.status }}
          </span>
        </div>
        <div class="item type">{{ assignment.avgScore }}</div>
        <div class="item target">{{ assignment.target }}</div>
        <div class="item assigned-by">{{ assignment.correctedBy }}</div>
        <div class="item post-date">
          {{ assignment.startDate }}
        </div>
        <div class="item due-date">
          {{ assignment.endDate }}
        </div>
        <div class="item submissions">{{ assignment.submission }}</div>
        <div class="item actions d-flex">
          <button pButton type="button" label="{{'VIEW_DETAILS' | translate}}" class="p-button-primary" (click)="viewAssignment(assignment.assignmentId, assignment.assignmentTypeId)"></button>
          <img src="icon-more-vertical.svg" alt="more" class="pointer more-actions" (click)="showActionMenu($event, assignment)" />
        </div>
      </div>
    </div>

    <app-pagination [rows]="assignments.pageSize" [totalRecords]="assignments.totalRecords" [first]="first" itemLabel="{{'ASSIGNMENTS' | translate}}" (pageChange)="nextPage($event)"></app-pagination>
  </div>
</div>

<p-popover #filterContent>
  <div class="filter-overlay-content">
    <div class="filter-overlay-header">
      <h3 class="filter-overlay-title">{{'FILTER_SUB_SKILLS' | translate}}</h3>
      <button class="filter-overlay-close" (click)="filterContent.toggle($event)">
        <i class="pi pi-times"></i>
      </button>
    </div>

    <div class="filter-divider"></div>

    <div class="filter-sections">
      <div class="filter-section" *ngFor="let section of filterSections">
        <div class="filter-section-header" (click)="toggleFilterSection(section)">
          <span class="filter-section-title">{{ section.title }}</span>
          <i class="pi" [class.pi-chevron-up]="section.expanded" [class.pi-chevron-down]="!section.expanded"></i>
        </div>

        <div *ngIf="section.expanded" class="filter-section-content">
          <div class="filter-option" *ngFor="let option of section.options">
            <div class="custom-checkbox">
              <input type="checkbox" [id]="option.value" [name]="section.title" [value]="option.value" [checked]="section.selectedOptions.includes(option.value)" (change)="toggleCheckbox(section, option.value)" class="visually-hidden" />
              <label [for]="option.value" class="checkbox-label">
                <span class="checkbox-icon">
                  <img *ngIf="section.selectedOptions.includes(option.value)" src="icon-checkbox-checked.svg" alt="Checked" class="checkbox-checked" />
                  <img *ngIf="!section.selectedOptions.includes(option.value)" src="icon-checkbox-unchecked.svg" alt="Unchecked" class="checkbox-unchecked" />
                </span>
                <span class="filter-option-label">{{ option.label }}</span>
              </label>
            </div>
          </div>
        </div>

        <div class="filter-divider"></div>
      </div>
    </div>

    <div class="filter-actions">
      <button type="button" class="filter-btn filter-btn-clear">{{'CLEAR_ALL' | translate}}</button>
      <button type="button" class="filter-btn filter-btn-apply">{{'APPLY' | translate}}</button>
    </div>
  </div>
</p-popover>

<p-menu #actionMenu [popup]="true" styleClass="action-menu">
  <ng-template pTemplate="start">
    <div class="menu-item" (click)="resendAssignment()">
      <img src="icon-resend.svg" alt="resend" class="menu-icon" />
      <span class="menu-text">{{'RESEND' | translate}}</span>
    </div>
    <div class="menu-separator"></div>

    <div class="menu-item" (click)="deactivateAssignment()">
      <img src="icon-deactivate.svg" alt="deactivate" class="menu-icon" />
      <span class="menu-text">{{'DEACTIVATE' | translate}}</span>
    </div>
    <div class="menu-separator"></div>

    <div class="menu-item" (click)="editAssignment()">
      <img src="icon-pencil-edit.svg" alt="edit" class="menu-icon" />
      <span class="menu-text">{{'EDIT' | translate}}</span>
    </div>
    <div class="menu-separator"></div>

    <div class="menu-item" (click)="viewQuestions()">
      <img src="icon-view-questions.svg" alt="view questions" class="menu-icon" />
      <span class="menu-text">{{'VIEW_QUESTIONS' | translate}}</span>
    </div>
    <div class="menu-separator"></div>

    <div class="menu-item" (click)="exportAssignment()">
      <img src="icon-file-export.svg" alt="export" class="menu-icon" />
      <span class="menu-text">{{'EXPORT' | translate}}</span>
    </div>
  </ng-template>
</p-menu>
