:host ::ng-deep {
  .smart-board-dialog {
    width: 100% !important;
    height: 100% !important;
    max-height: 100% !important;

    .p-dialog-header {
      padding: 0;
    }

    .p-dialog-content {
      padding: 0;
      overflow-y: auto;
      height: calc(90vh - 120px) !important;
    }

    .p-dialog-footer {
      padding: 1rem;
      border-top: 1px solid #e9ecef;
    }
  }

  .video-dialog, .pdf-dialog {
    .p-dialog-content {
      padding: 0;
      overflow: hidden;
    }
  }
}

.board-header {
  display: flex;
  justify-content: end;
  align-items: center;
  padding: 1rem;
  width: 100%;

  .close-button {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 1.2rem;
    color: #6c757d;

    &:hover {
      color: #343a40;
    }
  }
}

.board-content {
  .board-title {
    text-align: center;
  }

  .link {
    width: 340px;
    padding: 3rem;
    background: var(--primary-primary-200);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    &:hover {
      background: var(--primary-primary-300);
    }
  }

  .link-icon {
    margin-bottom: var(--padding-s); 
    display: flex;
    justify-content: center;
  }

  .link-title {
    font-size: var(--font-size-xxl);
    font-weight: var(--font-weight-bold);
    color: var(--primary-primary-900);
  }

  .link-description {
    font-size: var(--font-size-xs);
    font-weight: var(--font-weight-regular);
    color: var(--primary-primary-900);
  }
  
}

:host ::ng-deep {
  .video-dialog {
    .p-dialog-content {
      padding: var(--padding-3xl);
      height: 90vh;
      display: flex;
      align-items: center;
    }
  
    .video-container {
      width: 90vw !important;
      max-width: 1600px !important;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #000;
      border-radius: var(--radius-m);
      overflow: hidden;
  
      .custom-video-player {
        width: 100%;
        height: 100%;
        max-height: calc(90vh - var(--padding-3xl) * 2);
  
        &::-webkit-media-controls {
          background-color: rgba(0, 0, 0, 0.7);
        }
  
        &::-webkit-media-controls-panel {
          padding: 0 10px;
        }
  
        &::-webkit-media-controls-play-button {
          color: var(--primary-primary-500);
        }
  
        &::-webkit-media-controls-timeline {
          color: var(--primary-primary-500);
        }
  
        &::-webkit-media-controls-volume-slider {
          background-color: var(--primary-primary-500);
        }
      }
    }
  }
}

.pdf-dialog {
  width: 90vw !important;
  max-width: 1400px;

  .pdf-container {
    width: 100%;
    height: calc(90vh - 40px);
    background-color: var(--neutral-grey-50);
    padding-bottom: 20px;
  }
}
