:host ::ng-deep {
  .smart-board-dialog {
    width: 100% !important;
    height: 100% !important;
    max-height: 100% !important;

    .p-dialog-header {
      padding: 0;
    }

    .p-dialog-content {
      padding: 0;
      overflow-y: auto;
      height: calc(90vh - 120px) !important;
    }

    .p-dialog-footer {
      padding: 1rem;
      border-top: 1px solid #e9ecef;
    }
  }
}

.board-header {
  display: flex;
  justify-content: end;
  align-items: center;
  padding: 1rem;
  width: 100%;

  .close-button {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 1.2rem;
    color: #6c757d;

    &:hover {
      color: #343a40;
    }
  }
}

.board-content {
  .board-title {
    text-align: center;
  }

  .link {
    width: 340px;
    padding: 3rem;
    background: var(--primary-primary-200);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    &:hover {
      background: var(--primary-primary-300);
    }
  }

  .link-icon {
    margin-bottom: var(--padding-s); 
    display: flex;
    justify-content: center;
  }

  .link-title {
    font-size: var(--font-size-xxl);
    font-weight: var(--font-weight-bold);
    color: var(--primary-primary-900);
  }

  .link-description {
    font-size: var(--font-size-xs);
    font-weight: var(--font-weight-regular);
    color: var(--primary-primary-900);
  }
  
}
