<p-dialog
  [(visible)]="visible"
  [modal]="true"
  [closable]="false"
  [closeOnEscape]="true"
  [dismissableMask]="true"
  [maximizable]="false"
  [resizable]="false"
  [draggable]="false"
  styleClass="smart-board-dialog full-screen-dialog"
  (onHide)="closeBoard()"
>
  <ng-template pTemplate="header">
    <div class="board-header">
      <button class="close-button" (click)="closeBoard()">
        <i class="pi pi-times"></i>
      </button>
    </div>
  </ng-template>
  <div
    class="board-content d-flex flex-column align-items-center justify-content-center h-100"
  >
    <div class="board-title">
      <h2>{{ skillTitle }}</h2>
    </div>
    <div class="d-flex flex-wrap justify-content-center mt-3 gap-5">
      @if (cardResponse.length) {
        @for (card of cardResponse; track $index) {
          <a (click)="getResources(card)" class="active text-decoration-none" style="flex: 1 1 30%; max-width: 30%">
        <div class="link w-100">
            <div class="link-icon">
              <img [src]="card.iconUrl" alt="{{ card.name }}" />
            </div>
            <div class="link-title text-center">{{ card.name }}</div>
            <div class="link-description text-center">
              {{ card.count + " " + card.name }}
            </div>
          </div>
        </a>
        }
      }@else{
        @for (card of [0,1,2,3,4]; track $index) {
          <a  class="text-decoration-none" style="flex: 1 1 30%; max-width: 30%">
        <div class="link w-100">
            <app-skeleton  [squares]="1" />
          </div>
        </a>
        }
      }
    </div>
  </div>
</p-dialog>

@if(resources.flashCards.length){
<app-image-dialog
  [(ngModel)]="showImageDialog"
  [book]="book"
  [bookPages]="resources.flashCards"
  (hideImageDialog)="showImageDialog = false"
></app-image-dialog>
}
@if(resources.questions.length){
<app-image-dialog
  [(ngModel)]="showImageDialog"
  [isImage]="false"
  [bookPages]="questions"
  (hideImageDialog)="showImageDialog = false"
></app-image-dialog>
}

@if(resources.relatedBooks.length){
<app-image-dialog
  [(ngModel)]="showImageDialog"
  [bookPages]="relatedBooks"
  (hideImageDialog)="showImageDialog = false"
></app-image-dialog>
}

@if (resources.videos.length) {
  <app-video-dialog [showVideoDialog]="true" [videoUrls]="resources.videos"></app-video-dialog>
}

@if (resources.worksheets) {
  <app-pdf-dialog
  [pdfUrls]="resources.worksheets"
  [(visible)]="showPdfDialog"
></app-pdf-dialog>
}
