<p-dialog 
  [(visible)]="visible" 
  [modal]="true"
  [closable]="false"
  [closeOnEscape]="true"
  [dismissableMask]="true"
  [maximizable]="false"
  [resizable]="false"
  [draggable]="false"
  styleClass="smart-board-dialog full-screen-dialog"
  (onHide)="closeBoard()">
  
  <ng-template pTemplate="header">
    <div class="board-header">
      <button class="close-button" (click)="closeBoard()">
        <i class="pi pi-times"></i>
      </button>
    </div>
  </ng-template>
  <div class="board-content d-flex flex-column align-items-center justify-content-center h-100">
    <div class="board-title">
      <h2>{{ skillTitle }}</h2>
    </div>
    <div class="d-flex flex-wrap justify-content-center mt-3 gap-5">
      @for (card of cardResponse; track $index) {
      <div class="link" style="flex: 1 1 30%; max-width: 30%;">
        <div class="link-icon">
          <img [src]="card.iconUrl" alt="{{ card.name }}">
        </div>
        <div class="link-title">{{ card.name }}</div>
        <div class="link-description">{{ card.count + ' ' + card.name }}</div>
      </div>
    }
    </div>
  </div>
  
  
</p-dialog> 