<div class="assignment-submission">
  <div class="header">
    <div class="d-flex justify-content-between align-items-center">
      <div class="summary-boxes">
        @for (submission of studentSubmission.submissionCards; track $index) {
        <div class="box" [style.border]="'1px solid ' + submission.color">
          <div class="box-content">
            <div class="bold-area" [style.background-color]="submission.color">
              <img [src]="submission.iconUrl" width="17px" alt="warning" />
            </div>
            <div class="info">
              <div class="number">{{ submission.value }}</div>
              <div class="label">{{ submission.text }}</div>
            </div>
          </div>
        </div>
        }
      </div>
      @if (submissionType !== SubmissionType.MULTIPLE_QUESTIONS &&
      submissionType !== SubmissionType.BOOK_READING) {
      <div class="action-buttons">
        <button
          pButton
          type="button"
          label="Add Feedback"
          class="p-button-secondary feedback-button"
        ></button>
        <button
          pButton
          type="button"
          label="Correct"
          class="p-button-primary correct-button"
          (click)="correctSubmission()"
        ></button>
      </div>
      }
    </div>
  </div>
  @if (submissionType === SubmissionType.MULTIPLE_QUESTIONS) {
  <!-- Multiple Questions Component -->
  <app-multiple-questions
    [skills]="studentSubmission.skills"
    [submissionId]="submissionId"
    [studentId]="studentId"
  ></app-multiple-questions>
  } @if (submissionType === SubmissionType.BOOK_READING) {
  <app-book-reading
    [skills]="studentSubmission.skills"
    [submissionId]="submissionId"
    [studentId]="studentId"
  ></app-book-reading>
  } @if (submissionType === SubmissionType.BOOK_PAGE_SUMMARY_RECORDING) {
  <app-book-page-summary-recording></app-book-page-summary-recording>
  } @if (submissionType === SubmissionType.BOOK_LISTENING) {
  <app-book-listening></app-book-listening>
  } @if (submissionType === SubmissionType.QUESTION_ANSWER) {
  <app-question-answer></app-question-answer>
  }
</div>

<!-- Student Marking Drawer -->
<app-student-marking-drawer
  [(visible)]="showMarkingDrawer"
  [studentName]="'John Doe'"
>
</app-student-marking-drawer>
