.assignment-submission {
  .header {
    padding: var(--padding-3xl) var(--padding-2xl) var(--padding-xl);
    margin: 0 -15px var(--padding-l);
    border-bottom: 1px solid var(--neutral-grey-200);
    background-color: var(--neutral-grey-50);

    .summary-boxes {
      display: flex;
      gap: var(--padding-m);

      .box {
        width: 200px;
        height: 65px;
        border-radius: var(--radius-m);
        background-color: var(--neutral-white);

        .box-content {
          display: flex;
          align-items: center;
          gap: var(--padding-m);
          height: 100%;

          .bold-area {
            display: flex;
            align-items: center;
            justify-content: center;
            padding: var(--padding-m);
            border-radius: var(--radius-m) 0 0 var(--radius-m);
            height: 100%;
          }

          .info {
            display: flex;
            flex-direction: column;

            .number {
              color: var(--primary-primary-900);
              font-size: var(--font-size-xxl);
              font-weight: var(--font-weight-bold);
            }

            .label {
              color: var(--neutral-grey-600);
              font-size: var(--font-size-xxs);
            }
          }
        }

        &.red {
          border: 1px solid var(--colors-negative-red-20);

          .bold-area {
            background-color: var(--colors-negative-red-20);
          }
        }

        &.yellow {
          border: 1px solid var(--colors-warning-orange-20);

          .bold-area {
            background-color: var(--colors-warning-orange-20);
          }
        }

        &.green {
          border: 1px solid var(--colors-success-green-20);

          .bold-area {
            background-color: var(--colors-success-green-20);
          }
        }

        &.blue {
          padding: var(--padding-m);
          border: 1px solid var(--colors-success-green-20);
          background-color: var(--primary-primary-100);
        }
      }
    }

    .action-buttons {
      display: flex;
      gap: var(--padding-m);
      align-items: center;

      ::ng-deep {
        .feedback-button {
          background-color: var(--neutral-grey-50) !important;
          border-color: var(--neutral-grey-200);
          color: var(--primary-primary-900);
          font-size: var(--font-size-l) !important;
          padding: var(--padding-s) var(--padding-l);

          .p-button-label {
            font-weight: 300 !important;
          }
        }
      }

      .correct-button {
        background-color: var(--primary-primary-500);
        border-color: var(--primary-primary-500);
        color: var(--neutral-white);
        font-size: var(--font-size-l) !important;
        padding: var(--padding-s) var(--padding-l);
      }
    }
  }
}
