<div class="review-writing-speaking">
  <div class="title">Review Assignment</div>
  <div class="assignment-summary">
    <div class="upper-section">
      <div class="left">
        <div class="icon">
          <img src="icon-cards-square.svg" alt="" class="pointer" />
        </div>
        <div>
          <div class="assignment-title">Assignment title</div>
          <div class="assignment-sub-title">{{ title() }}</div>
        </div>
      </div>
      <div class="pointer" (click)="moveToStep(1)">
        <img src="icon-edit-square.svg" alt="edit" />
      </div>
    </div>
    <div class="separator"></div>
    <div class="lower-section">
      <div class="item">
        <div class="header">Grade</div>
        <div class="value">Grade 1</div>
      </div>
      <div class="item">
        <div class="header">Section</div>
        <div class="value">All sections</div>
      </div>
      <div class="item">
        <div class="header">Question</div>
        <div class="value">Question</div>
      </div>
      <div class="item">
        <div class="header">Start Date</div>
        <div class="value">20/08/2022</div>
      </div>
      <div class="item">
        <div class="header">Due Date</div>
        <div class="value">20/08/2022</div>
      </div>
    </div>
  </div>
  <div class="assignment-details">
    <div class="upper-section">
      <div class="left">
        <div class="assignment-title">Assignment Details</div>
      </div>
      <div (click)="moveToStep(2)">
        <img src="icon-edit-square.svg" alt="edit" class="pointer" />
      </div>
    </div>
    <div class="separator"></div>
    <div class="lower-section">
      <div class="questions-list">
        <p-panel
          *ngFor="let question of questions; let i = index"
          [toggleable]="true"
          [collapsed]="question.isCollapsed"
        >
          <ng-template pTemplate="header">
            <div class="panel-header">
              <span class="header-label">Question {{ i + 1 }}</span>
              <div class="header-actions">
                <img
                  src="arrow-gray-down.svg"
                  alt=""
                  (click)="toggleCollapse(question)"
                  [class.rotated]="!question.isCollapsed"
                />
              </div>
            </div>
          </ng-template>

          <div class="panel-content">
            <div class="question-details">
              <div class="detail-row">
                <span class="label">Question Text</span>
                <span class="value">{{
                  question.questionText || "Not specified"
                }}</span>
              </div>
              <div class="detail-row">
                <span class="label">Answer Type</span>
                <span class="value">{{
                  getAnswerTypeLabel(question.answerType)
                }}</span>
              </div>

              <!-- Text Format Details -->
              <div
                *ngIf="
                  question.questionFormat === 'text' && question.description
                "
                class="detail-row"
              >
                <span class="label">Description</span>
                <span class="value">{{ question.description }}</span>
              </div>

              <!-- Video Format Details -->
              <div
                *ngIf="question.questionFormat === 'video' && question.videoUrl"
                class="video-url-display"
              >
                <div class="detail-row">
                  <span class="label">Media Type</span>
                </div>
                <div class="url-container">
                  <span class="url-text">{{ question.videoUrl }}</span>
                  <img
                    src="icon-clipboard.svg"
                    alt="copy"
                    class="copy-icon"
                    (click)="copyToClipboard(question.videoUrl)"
                  />
                </div>
              </div>

              <!-- Image Upload Details -->
              <div
                *ngIf="
                  question.questionFormat === 'image' &&
                  question.uploadedImageFile &&
                  question.imageFileValidation?.isValid
                "
                class="uploaded-file-display"
              >
                <div class="detail-row">
                  <span class="label">Media Type</span>
                </div>
                <div class="uploaded-file">
                  <div class="file-preview">
                    <img
                      [src]="getImagePreviewUrl(question.uploadedImageFile)"
                      [alt]="question.uploadedImageFileName"
                      class="preview-image"
                    />
                  </div>
                  <div class="file-info">
                    <div class="file-name">
                      {{ question.uploadedImageFileName }}
                    </div>
                    <div class="file-size">
                      {{ question.uploadedImageFileSize }}
                    </div>
                  </div>
                </div>
              </div>

              <!-- Voice Upload Details -->
              <div
                *ngIf="
                  question.questionFormat === 'voice' &&
                  question.uploadedVoiceFile &&
                  question.voiceFileValidation?.isValid
                "
                class="uploaded-file-display"
              >
                <div class="detail-row">
                  <span class="label">Media Type</span>
                </div>
                <app-media-player
                  *ngIf="getMediaFileData(question)"
                  [mediaFile]="getMediaFileData(question)!"
                  [displayDate]="todayDate"
                  (mediaFileChange)="onMediaFileChange(question, $event)"
                ></app-media-player>
              </div>
            </div>
          </div>
        </p-panel>
      </div>
    </div>
  </div>
</div>
