<div class="listening-assignment-book">
  <div class="title">Assignment Book</div>

  @if (!selectedBook) {
  <div class="select-assignment-book-container">
    <div class="image-container">
      <img src="icon-books.svg" alt="books" />
    </div>
    <div>
      <div class="main-title">Select Assignment Book</div>
      <div class="sub-title">You can only pick one</div>
    </div>
    <div class="button-container">
      <button
        pButton
        type="button"
        label="Select a Book"
        class="p-button-primary"
        (click)="onSelectBook()"
      >
        <img src="icon-add-circle.svg" alt="" />
      </button>
    </div>
  </div>
  } @else {
  <div class="selected-book">
    <div class="title">Selected Book</div>
    <div class="book-card">
      <div class="book-cover">
        <img [src]="selectedBook.coverUrl" [alt]="selectedBook.title" />
      </div>
      <div class="book-details">
        <div class="title">{{ selectedBook.title }}</div>
        <p class="sub-level"><b>Sub Level:</b> {{ selectedBook.levelName }}</p>
        <p class="author">
          Author: <b>{{ selectedBook.authorName }}</b>
        </p>
        <p class="student-level">
          Student level: <b>{{ selectedBook.studentLevel }}</b>
        </p>
      </div>
      <div class="book-actions">
        <button pButton label="" class="p-button-outlined">
          <img src="icon-rotate.svg" alt="view" />
        </button>
        <button pButton label="" class="p-button-outlined">
          <img src="icon-eye.svg" alt="view" />
        </button>
      </div>
    </div>
  </div>
  }
</div>

<p-drawer
  [(visible)]="showBookDrawer"
  [position]="'right'"
  [style]="{ width: '50%' }"
  [modal]="true"
  [showCloseIcon]="true"
  [baseZIndex]="1000"
  (onHide)="onCloseDrawer()"
  [dismissible]="false"
  [closable]="false"
  [closeOnEscape]="false"
>
  <ng-template pTemplate="header">
    <h2>Select a Book</h2>
    <img
      src="icon-green-close-large.svg"
      alt="close"
      class="pointer"
      (click)="onCloseDrawer()"
    />
  </ng-template>

  <div class="drawer-content">
    <div class="filters">
      <div class="search-box">
        <span class="p-input-icon-left">
          <img src="icon-search.svg" alt="search" />
          <input
            type="text"
            pInputText
            [(ngModel)]="readingFilter.searchValue"
            placeholder="Search books..."
          />
        </span>
      </div>
      <div class="level-filters">
        <p-dropdown
          [options]="mainLevels"
          [(ngModel)]="readingFilter.readingMainLevelId"
          placeholder="Select Main Level"
          optionLabel="name"
          optionValue="mainLevelId"
          [showClear]="false"
          (ngModelChange)="onMainLevelChange($event)"
          styleClass="main-level-dropdown"
        ></p-dropdown>
        <p-dropdown
          [options]="subLevels"
          [(ngModel)]="readingFilter.readingSubLevelId"
          placeholder="Select Sub Level"
          [showClear]="false"
          optionLabel="name"
          optionValue="subLevelId"
          (ngModelChange)="
            onSubLevelChange(readingFilter.readingMainLevelId, $event)
          "
          styleClass="sub-level-dropdown"
        ></p-dropdown>
      </div>
    </div>

    <div class="books-grid">
      @for (book of books; track book.id) {
      <div class="book-card">
        <div class="book-cover">
          <img [src]="book.coverUrl" [alt]="book.title" />
        </div>
        <div class="book-details">
          <div class="title">{{ book.title }}</div>
          <p class="sub-level"><b>Sub Level:</b> {{ book.levelName }}</p>
          <p class="author">
            Author: <b>{{ book.authorName }}</b>
          </p>
          <p class="student-level">
            Student level: <b>{{ book.studentLevel }}</b>
          </p>
          <div class="book-actions">
            <button
              pButton
              class="p-button-primary"
              (click)="onBookSelect(book)"
            >
              Select Book
            </button>
            <button pButton label="" class="p-button-outlined">
              <img src="icon-eye.svg" alt="hide" />
            </button>
          </div>
        </div>
      </div>
      }
    </div>
  </div>
</p-drawer>
