<div class="book-info-grid">
  <!-- First Row - Highlighted -->
  <div class="info-box highlighted">
    <div class="title">Literary Type</div>
    <div class="d-flex justify-content-between">
      <div class="value">{{ bookDetails.literaryType }}</div>
      <img src="icon-literary-type.svg" alt="literary type" />
    </div>
  </div>
  <div class="info-box highlighted">
    <div class="title">Number of Pages</div>
    <div class="d-flex justify-content-between">
      <div class="value">{{ bookDetails.numberOfPages }}</div>
      <img src="icon-small-book.svg" alt="book" />
    </div>
  </div>
  <div class="info-box highlighted">
    <div class="title">Number of Words</div>
    <div class="d-flex justify-content-between">
      <div class="value">{{ bookDetails.numberOfWords }}</div>
      <img src="icon-word.svg" alt="w" />
    </div>
  </div>

  <!-- Second Row -->
  <div class="info-box">
    <div class="title">Author Name</div>
    <div class="value">{{ bookDetails.authorName }}</div>
  </div>
  <div class="info-box">
    <div class="title">Publisher</div>
    <div class="value">{{ bookDetails.publisher }}</div>
  </div>
  <div class="info-box">
    <div class="title">Illustrator</div>
    <div class="value">{{ bookDetails.illustrator }}</div>
  </div>

  <!-- Third Row -->
  <div class="info-box">
    <div class="title">Hub</div>
    <div class="value">{{ bookDetails.hub }}</div>
  </div>
  <div class="info-box">
    <div class="title">IB Hub</div>
    <div class="value">{{ bookDetails.ibHub }}</div>
  </div>
  <div class="info-box">
    <div class="title">IB Learner Profile</div>
    <div class="value">{{ bookDetails.ibLearnerProfile }}</div>
  </div>

  <!-- Fourth Row -->
  <div class="info-box">
    <div class="title">Age Group</div>
    <div class="value">{{ bookDetails.ageGroup }}</div>
  </div>
  <div class="info-box">
    <div class="title">Main Level</div>
    <div class="value">{{ bookDetails.mainLevel }}</div>
  </div>
  <div class="info-box">
    <div class="title">Sub Level</div>
    <div class="value">{{ bookDetails.subLevel }}</div>
  </div>
</div>
