<div class="skills-review">
  <div class="title">Review Assignment</div>
  <div class="assignment-summary">
    <div class="upper-section">
      <div class="left">
        <div class="icon">
          <img src="icon-cards-square.svg" alt="" class="pointer" />
        </div>
        <div>
          <div class="assignment-title">Assignment title</div>
          <div class="assignment-sub-title">{{assignmentSetup.title}}</div>
        </div>
      </div>
      <div>
        <a class="btn" (click)="checkStep(1)"><img src="icon-edit-square.svg" alt="edit" /></a>
      </div>
    </div>
    <div class="separator"></div>
    <div class="lower-section">
      <div class="item">
        <div class="header">Grades</div>
        @for (item of assignmentSetup.selectedGradesNames; track $index) {
        <div class="value">{{item}}</div>
        }
      </div>
      @if (assignmentSetup.selectedSections.length) {
      <div class="item">
        <div class="header">Section</div>
        @for (item of assignmentSetup.selectedSections; track $index) {
        <div class="value">{{item}}</div>
        }
      </div>
    }
      <div class="item">
        <div class="header">Questions</div>
        <div class="value">{{domainTotals}}</div>
      </div>
      <div class="item">
        <div class="header">Start Date</div>
        <div class="value">{{assignmentSetup.startDate | date : 'dd/MM/yyyy' }}</div>
      </div>
      <div class="item">
        <div class="header">Due Date</div>
        <div class="value">{{assignmentSetup.dueDate | date : 'dd/MM/yyyy' }}</div>
      </div>
    </div>
  </div>
  <div class="assignment-details">
    <div class="upper-section">
      <div class="left">
        <div class="assignment-title">{{domains.length}} Skill Domains</div>
      </div>
      <div>
        <a class="btn" (click)="checkStep(2)"><img src="icon-edit-square.svg" alt="edit" /></a>
      </div>
    </div>
    <div class="separator"></div>
    <div class="lower-section">
      <div class="domain-list">
        @for (domain of domains; track $index) {
          <p-panel [toggleable]="true" [collapsed]="domain.isCollapsed">
          <ng-template pTemplate="header">
            <div class="panel-header">
              <span class="header-label">Domain details</span>
              <div class="header-actions">
                <div class="total-questions">
                  <span>Total questions: {{ domain.totalQuestions }}</span>
                </div>
                <img src="arrow-gray-down.svg" alt="" (click)="toggleCollapse(domain)"
                  [class.rotated]="!domain.isCollapsed" />
              </div>
            </div>
          </ng-template>

          <div class="panel-content">
            <div class="skills-grid">
              <div class="grid-header">
                <div class="header-cell">Skill</div>
                <div class="header-cell">Beginner</div>
                <div class="header-cell">Medium</div>
                <div class="header-cell">Advanced</div>
              </div>
              @for (skill of domain.updatedSkills; track $index) {
              <div class="grid-row">
                <div class="grid-cell">{{ skill.name }}</div>
                <div class="grid-cell">
                  <div class="input-container">
                    <span class="value">{{ skill.beginnerValue == null ? 0 :skill.beginnerValue  }}</span>
                  </div>
                  <img src="icon-eye-blue-box.svg" class="pointer" alt="" />
                </div>
                <div class="grid-cell">
                  <div class="input-container">
                    <span class="value">{{ skill.intermediateValue == null ? 0 : skill.intermediateValue }}</span>
                  </div>
                  <img src="icon-eye-blue-box.svg" class="pointer" alt="" />
                </div>
                <div class="grid-cell">
                  <div class="input-container">
                    <span class="value">{{ skill.advanceValue == null ? 0 : skill.advanceValue }}</span>
                  </div>
                  <img src="icon-eye-blue-box.svg" class="pointer" alt="" />
                </div>
              </div>
              }
            </div>
          </div>
        </p-panel>
        }
      </div>
    </div>
  </div>
</div>