<!-- Example iframe for static video -->
<iframe #videoPlayer
  [src]="getSafeUrl(videoUrls[0].url)"
  width="640"
  height="360"
  frameborder="0"
  allow="autoplay; fullscreen"
  allowfullscreen
></iframe>

<p-dialog
  [(visible)]="showVideoDialog"
  [modal]="true"
  [closable]="true"
  [closeOnEscape]="true"
  [dismissableMask]="true"
  [resizable]="false"
  [draggable]="false"
  class="video-dialog"
  (onHide)="closeDialog()"
>
<div class="video-container">
  @if(!isPlaying){
    <img 
    class="play-icon" 
    src="icon-video-play.svg" 
    alt="play" 
    (click)="togglePlay()"
  />
  }@else {
    <iframe
      [src]="getSafeUrl(videoUrls[0].url)"
      width="100%"
      height="100%"
      frameborder="0"
      allow="autoplay; fullscreen"
      allowfullscreen
    ></iframe>
  }
</div>
</p-dialog>