<p-dialog
  [(visible)]="showVideoDialog"
  [modal]="true"
  [closable]="true"
  [closeOnEscape]="true"
  [dismissableMask]="true"
  [resizable]="false"
  [draggable]="false"
  class="video-dialog"
  (onHide)="closeDialog()"
>
  <div class="book-reader">
    <p-galleria
      [value]="videoUrls"
      [showItemNavigators]="true"
      [showThumbnails]="false"
      [showIndicators]="false"
      [circular]="true"
      [containerStyle]="{ margin: 'auto' }"
      [(activeIndex)]="activeIndex"
    >
      <ng-template pTemplate="item" let-item>
        <iframe
          [src]="getSafeUrl(item.url)"
          width="640"
          height="360"
          frameborder="0"
          allow="autoplay; fullscreen"
          allowfullscreen
        ></iframe>
      </ng-template>
      <ng-template pTemplate="previousitemicon">
        <img src="arrow-left-gray.svg" alt="" />
      </ng-template>
      <ng-template pTemplate="nextitemicon">
        <i class="pi pi-chevron-right custom-nav-icon"></i>
      </ng-template>
    </p-galleria>
    <div class="custom-indicator">
      <span class="page-number">{{ activeIndex + 1 }}/{{ videoUrls.length }}</span>
    </div>
  </div>
</p-dialog>

<!-- Example iframe for static video -->
<iframe
  [src]="getSafeUrl('https://player.vimeo.com/video/675791827')"
  width="640"
  height="360"
  frameborder="0"
  allow="autoplay; fullscreen"
  allowfullscreen
></iframe>
