<div class="assignment-details">
  <div class="header">
    <div class="d-flex justify-content-between align-items-center">
      <div class="summary-boxes">
        <div class="box red">
          <div class="box-content">
            <div class="bold-area">
              <img src="icon-red-x.svg" alt="warning" />
            </div>
            <div class="info">
              <div class="number">10</div>
              <div class="label">Did Not Submitted</div>
            </div>
          </div>
        </div>
        <div class="box yellow">
          <div class="box-content">
            <div class="bold-area">
              <img src="icon-yellow-check.svg" alt="submitted" />
            </div>
            <div class="info">
              <div class="number">10</div>
              <div class="label">Submitted</div>
            </div>
          </div>
        </div>
        <div class="box green">
          <div class="box-content">
            <div class="bold-area">
              <img src="icon-double-check.svg" alt="Corrected" />
            </div>
            <div class="info">
              <div class="number">10</div>
              <div class="label">Corrected</div>
            </div>
          </div>
        </div>
      </div>
      <div class="buttons">
        <button
          pButton
          label=""
          class="p-button-outlined show-button"
          (click)="viewResources()"
        >
          <span>View Resources</span>
          <img src="icon-eye.svg" alt="view resources" />
        </button>
        <button
          pButton
          label=""
          class="p-button-outlined show-button"
          (click)="exportBtn.toggle($event)"
        >
          <span>Export as</span>
          <img src="arrow-green-down.svg" alt="export" />
        </button>
      </div>
    </div>
  </div>
  <div class="info-container">
    <!-- Assignment Details Box -->
    <div class="details-title">
      <div class="title">Assignment Details</div>
    </div>
    <div class="details-box">
      <!-- First Row -->
      <div class="details-row">
        <div class="left-section">
          <div class="info-item">
            <div class="value grade">{{ assignmentDetails.grade }}</div>
            <div class="value type">{{ assignmentDetails.type }}</div>
          </div>
          <div class="custom-radio-container">
            <div
              class="custom-radio"
              [class.active]="assignmentDetails.isEnabled"
              (click)="toggleActive()"
            >
              <div
                class="radio-content"
                [class.reverse]="!assignmentDetails.isEnabled"
              >
                <span class="status-text">{{
                  assignmentDetails.isEnabled ? "ACTIVE" : "OFF"
                }}</span>
                <img
                  [src]="
                    assignmentDetails.isEnabled
                      ? 'icon-radio-checked.svg'
                      : 'icon-radio-unchecked.svg'
                  "
                  alt="check"
                />
              </div>
            </div>
          </div>
        </div>
        <div class="right-section">
          <button
            pButton
            type="button"
            label=""
            class="p-button-secondary"
            (click)="onResend()"
          >
            <img src="icon-eye.svg" alt="view all questions" />
            View All Questions
          </button>
          <button
            pButton
            type="button"
            label=""
            class="p-button-secondary"
            (click)="onReminder()"
          >
            <img src="icon-reminder.svg" alt="Reminder" />
            Send Reminder
          </button>
          <button
            pButton
            type="button"
            label=""
            class="p-button-secondary"
            (click)="onEdit()"
          >
            <img src="icon-pencil.svg" alt="Edit" />
          </button>
          <button
            pButton
            type="button"
            label=""
            class="p-button-danger"
            (click)="onDelete()"
          >
            <img src="icon-red-trash.svg" alt="Delete" />
          </button>
        </div>
      </div>

      <!-- Second Row -->
      <div class="details-row">
        <div class="info-grid">
          <div class="info-item">
            <span class="title">Status</span>
            <span class="value">{{ assignmentDetails.status }}</span>
          </div>
          <div class="info-item">
            <span class="title">Section</span>
            <span class="value">{{ assignmentDetails.section }}</span>
          </div>
          <div class="info-item">
            <span class="title">Assigned By</span>
            <span class="value">{{ assignmentDetails.assignedBy }}</span>
          </div>
          <div class="info-item">
            <span class="title">Questions</span>
            <span class="value">{{ assignmentDetails.questionCount }}</span>
          </div>
          <div class="info-item">
            <span class="title">Posted On</span>
            <span class="value">{{
              assignmentDetails.postedDate | date : "mediumDate"
            }}</span>
          </div>
          <div class="info-item">
            <span class="title">Due On</span>
            <span class="value">{{
              assignmentDetails.dueDate | date : "mediumDate"
            }}</span>
          </div>
        </div>
      </div>

      <!-- Third Row -->
      <div class="details-row score">
        <div class="score-container">
          <div class="title">Overall Average Score</div>
          <div class="value">{{ assignmentDetails.avgScore }}%</div>
        </div>
        <div class="summary-boxes">
          <div class="box not-delivered">
            <div class="box-content">
              <div class="info">
                <div class="label">Did not delivered</div>
                <div class="number">5</div>
              </div>
            </div>
          </div>
          <div class="box red">
            <div class="box-content">
              <div class="bold-area"></div>
              <div class="info">
                <div class="label">Weak</div>
                <div class="number">3</div>
              </div>
            </div>
          </div>
          <div class="box yellow">
            <div class="box-content">
              <div class="bold-area"></div>
              <div class="info">
                <div class="label">Good</div>
                <div class="number">1</div>
              </div>
            </div>
          </div>
          <div class="box blue">
            <div class="box-content">
              <div class="bold-area"></div>
              <div class="info">
                <div class="label">Very Good</div>
                <div class="number">4</div>
              </div>
            </div>
          </div>
          <div class="box green">
            <div class="box-content">
              <div class="bold-area"></div>
              <div class="info">
                <div class="label">Excellent</div>
                <div class="number">1</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Submissions Grid -->
    <div class="submissions-title">Submissions</div>
    <div class="submissions-grid">
      <!-- Grid Headers -->
      <div class="grid-header">
        <div class="header-item">
          <div class="header-content">
            <span>Student Name</span>
            <img
              src="icon-sort.svg"
              alt="Sort"
              (click)="onSort('studentName')"
              class="sort-icon"
            />
          </div>
        </div>
        <div class="header-item">
          <div class="header-content">
            <span>Submission Status</span>
            <img
              src="icon-sort.svg"
              alt="Sort"
              (click)="onSort('status')"
              class="sort-icon"
            />
          </div>
        </div>
        <div class="header-item">
          <div class="header-content">
            <span>Score</span>
            <img
              src="icon-sort.svg"
              alt="Sort"
              (click)="onSort('score')"
              class="sort-icon"
            />
          </div>
        </div>
        <div class="header-item">
          <div class="header-content">
            <span>Time Spent</span>
            <img
              src="icon-sort.svg"
              alt="Sort"
              (click)="onSort('timeSpent')"
              class="sort-icon"
            />
          </div>
        </div>
        <div class="header-item">Reflection</div>
        <div class="header-item">Actions</div>
      </div>

      <!-- Submissions List -->
      <div class="submissions-list">
        @for (submission of submissions; track submission.id) {
        <div class="submission-row">
          <div class="item student-name">
            <p-checkbox
              [(ngModel)]="submission.selected"
              [binary]="true"
            ></p-checkbox>
            <span class="initials">{{ submission.initials }}</span>
            <span class="name">{{ submission.studentName }}</span>
            <img
              src="icon-warning.svg"
              alt="warning"
              *ngIf="submission.status === 'Pending'"
            />
          </div>
          <div class="item status" [class]="submission.status.toLowerCase()">
            {{ submission.status }}
          </div>
          <div class="item score">
            <div class="score-item">
              <span class="title">Correct</span>
              <span class="value">{{ submission.correctAnswers }}</span>
            </div>
            <div class="score-item">
              <span class="title">Wrong</span>
              <span class="value">{{ submission.wrongAnswers }}</span>
            </div>
            <div class="score-item">
              <span class="title">Score</span>
              <span class="value">{{ submission.score }}%</span>
            </div>
          </div>
          <div class="item time-spent">{{ submission.timeSpent }}</div>
          <div class="item attachment">
            <img src="icon-red-attachment.svg" alt="Attachment" />
          </div>
          <div class="item actions d-flex gap-2">
            <button
              pButton
              type="button"
              label="Correct"
              class="p-button-primary"
              (click)="correct(submission.id)"
            ></button>
            <button
              pButton
              type="button"
              label="View Submission"
              class="p-button-secondary view-submission"
              (click)="viewSubmission(submission.id)"
            ></button>
          </div>
        </div>
        }
      </div>

      <!-- Pagination -->
      <app-pagination [rows]="10" [totalRecords]="100"></app-pagination>
    </div>
  </div>
</div>

<p-menu #exportBtn [popup]="true">
  <ng-template #start>
    <div class="export-menu-content">
      <div
        class="export-item"
        (click)="exportAs('pdf'); exportBtn.toggle($event)"
      >
        <span class="label">PDF</span>
        <img src="icon-download.svg" alt="download" />
      </div>
      <div
        class="export-item"
        (click)="exportAs('xlsx'); exportBtn.toggle($event)"
      >
        <span class="label">XLSX</span>
        <img src="icon-download.svg" alt="download" />
      </div>
    </div>
  </ng-template>
</p-menu>

<p-dialog
  [(visible)]="showDeleteConfirmation"
  [modal]="false"
  [draggable]="false"
  [resizable]="false"
  [style]="{ width: '450px' }"
  styleClass="delete-confirmation-dialog"
  [closeOnEscape]="true"
  [dismissableMask]="true"
  [showHeader]="true"
  [closable]="true"
>
  <!-- <div class="board-header">
    <button class="close-button" (click)="cancelDelete()">
      <img src="icon-exit.svg" alt="close" />
    </button>
  </div> -->
  <div class="delete-confirmation-content">
    <div class="delete-title">
      Are you sure you want to delete the assignment?
    </div>
    <div class="delete-actions">
      <button
        pButton
        type="button"
        label="Cancel"
        class="p-button-secondary cancel-button"
        (click)="cancelDelete()"
      ></button>
      <button
        pButton
        type="button"
        label="Delete"
        class="p-button-primary delete-button"
        (click)="confirmDelete()"
      ></button>
    </div>
  </div>
</p-dialog>
