<p-dialog
  [(visible)]="visible"
  [modal]="true"
  [closable]="false"
  [draggable]="false"
  [resizable]="false"
  [dismissableMask]="false"
  [blockScroll]="true"
  styleClass="question-preview-dialog"
  [style]="{ width: '90vw', maxWidth: '70vw', height: '90vh' }"
  (onHide)="onHide()"
>
  <ng-template pTemplate="header">
    <div class="dialog-header">
      <div class="filter-options-container">
        <div class="filter-options">
          <div class="filter-box-container">
            <div class="filter-box">
              <span>{{ "TOTAL_WORDS_COUNT" | translate }}</span>
            </div>
            <div class="out-of">
              <span class="bold">134</span>
              <span>/200</span>
            </div>
          </div>
        </div>
        <button pButton class="p-button-text close-btn" (click)="onCancel()">
          <img src="icon-close-black.svg" alt="Close" />
        </button>
      </div>
    </div>
  </ng-template>

  <div class="dialog-content">
    <div class="image-slider">
      <div class="slide-container">
        <div class="slide-navigation">
          <button
            pButton
            class="p-button-text prev-btn nav-btn"
            [disabled]="currentSlideIndex === 0"
            (click)="previousSlide()"
          >
            <img src="arrow-right-dark.svg" alt="Previous" />
          </button>

          <div class="pages-container">
            <div 
              *ngFor="let page of currentPages; let i = index" 
              class="slide-image" 
              [class.selected]="page.isSelected"
              [class.left-page]="i === 0"
              [class.right-page]="i === 1"
            >
              <div class="slide-header">
                <div class="question-checkbox">
                  <p-checkbox
                    [ngModel]="page.isSelected"
                    [binary]="true"
                    (ngModelChange)="toggleQuestionSelection(page, $event)"
                  ></p-checkbox>
                  <label>{{ "SELECT_PAGE" | translate }}</label>
                </div>
                <div class="words-count">
                  <span>{{ "WORDS_COUNT" | translate }}</span>
                </div>
                <div class="count-badge">134</div>
              </div>
              <img
                [src]="page.image"
                [alt]="'Page ' + page.id"
              />
            </div>
          </div>

          <button
            pButton
            class="p-button-text nav-btn"
            [disabled]="currentSlideIndex === questions.length - 1"
            (click)="nextSlide()"
          >
            <img src="arrow-right-dark.svg" alt="Next" />
          </button>
        </div>
      </div>
    </div>
    <div class="slide-count">
      {{ currentSlideIndex + 1 }} / {{ questions.length }}
    </div>
  </div>

  <ng-template pTemplate="footer">
    <div class="dialog-footer">
      <div class="footer-buttons">
        <button
          pButton
          [label]="'CANCEL' | translate"
          class="p-button-outlined cancel-btn"
          (click)="onCancel()"
        ></button>
        <button
          pButton
          label="Submit"
          class="p-button-primary submit-btn"
          (click)="onSubmit()"
        ></button>
      </div>
    </div>
  </ng-template>
</p-dialog>
