<app-leveled-book-summary [data]="bookSummaryData"></app-leveled-book-summary>
<div class="books-grid">
  <div class="grid-header">
    <div class="header-cell">Book</div>
    <div class="header-cell">Title</div>
    <div class="header-cell">Author Name</div>
    <div class="header-cell">No. of Pages</div>
    <div class="header-cell">Actions</div>
  </div>

  <div class="grid-body">
    @for (book of subLevelReadingResponse.stories; track $index) {
    <div class="grid-row">
      <div class="grid-cell book-image">
        <img [src]="book.coverUrl" [alt]="book.title" />
      </div>
      <div class="grid-cell book-title">{{ book.title }}</div>
      <div class="grid-cell author-name">{{ book.authorName }}</div>
      <div class="grid-cell pages">{{ book.pagesCount }}</div>
      <div class="grid-cell actions">
        <button
          pButton
          label="Send Assignment"
          class="p-button-outlined"
          (click)="sendAssignment(book.storyId)"
        >
          <img src="icon-assignment-dark.svg" alt="Assignment" />
        </button>
        <button
          pButton
          label="View"
          class="p-button-primary"
          (click)="viewBook(book)"
        ></button>
      </div>
    </div>
    }
  </div>

  <app-pagination
    [first]="first"
    [rows]="subLevelReadingResponse.pageSize"
    [totalRecords]="subLevelReadingResponse.totalRecords"
    itemLabel="books"
    (pageChange)="nextPage($event)"
  ></app-pagination>
</div>
