.questions-list {
  padding: var(--padding-m);
  display: flex;
  flex-direction: column;
  gap: var(--padding-m);

  .question-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--padding-m);
    background-color: var(--neutral-white);
    border: 1px solid var(--neutral-grey-200);
    border-radius: 8px;
    transition: transform 0.2s, box-shadow 0.2s;

    &:hover {
      transform: translateY(-2px);
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
    }

    .question-title {
      font-size: var(--font-size-s);
      color: var(--primary-primary-900);
      font-weight: var(--font-weight-bold);
      flex: 1;
      margin-right: var(--padding-m);
    }

    button {
      min-width: 150px;
    }
  }
}

::ng-deep {
  .p-dialog {
    .p-dialog-content {
      padding: var(--padding-m);
      
      .question-image-container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        img {
          height: 100%;
          max-width: 100%;
          max-height: 70vh;
          object-fit: contain;
          border-radius: 8px;
        }
      }
    }
  }
}
