<div class="questions-list">
  @for (question of questions; track question.id) {
    <div class="question-item">
      <div class="question-title">{{ question.title }}</div>
      <button 
        pButton 
        label="View Question" 
        class="p-button-primary"
        (click)="viewQuestion(question)"
      ></button>
    </div>
  }
</div>

<p-dialog 
  [(visible)]="showQuestionDialog"
  [modal]="true"
  [style]="{width: '50vw', height: '80vh'}"
  [draggable]="false"
  [resizable]="false"
  [showHeader]="false"
  [closeOnEscape]="true"
  [dismissableMask]="true"
>
  @if (selectedQuestion) {
    <div class="question-image-container">
      <img [src]="selectedQuestion.imageUrl" [alt]="selectedQuestion.title" />
    </div>
  }
</p-dialog>
