<p-dialog
  [visible]="visible()"
  [style]="{ width: '500px' }"
  [modal]="modal()"
  [closable]="closable()"
  [closeOnEscape]="closeOnEscape()"
  [header]="header()"
>
  <div class="dialog-content">
    <span class="dialog-message"
      >Please select the sections you want to activate</span
    >
    <div class="checkbox-group">
      <div class="checkbox-item">
        <p-checkbox
          [(ngModel)]="selectedGrades.all"
          [binary]="true"
          inputId="all"
        ></p-checkbox>
        <label for="all">All</label>
      </div>
      <div class="checkbox-item">
        <p-checkbox
          [(ngModel)]="selectedGrades.grade1"
          [binary]="true"
          inputId="grade1"
        ></p-checkbox>
        <label for="grade1">Grade 1</label>
      </div>
      <div class="checkbox-item">
        <p-checkbox
          [(ngModel)]="selectedGrades.grade2"
          [binary]="true"
          inputId="grade2"
        ></p-checkbox>
        <label for="grade2">Grade 2</label>
      </div>
    </div>
  </div>

  <ng-template pTemplate="footer">
    <button
      type="button"
      pButton
      label="Cancel"
      class="p-button-secondary"
      (click)="close()"
    ></button>
    <button
      type="button"
      pButton
      label="Activate"
      class="p-button-primary"
      (click)="_activateSkill()"
    ></button>
  </ng-template>
</p-dialog>
