<p-dialog
  [visible]="visible()"
  [style]="{ width: '500px' }"
  [modal]="modal()"
  [closable]="closable()"
  [closeOnEscape]="closeOnEscape()"
  [header]="header()"
>
  <div class="dialog-content">
    <span class="dialog-message">
      Please select the sections you want to activate
    </span>
    <div class="checkbox-group">
      <div class="checkbox-item">
        <p-checkbox
          [binary]="true"
          inputId="all"
          [(ngModel)]="allSelected"
          (ngModelChange)="toggleAll()"
        ></p-checkbox>
        <label for="all">All</label>
      </div>


     @if (sections) {
      @for (section of sections; track $index) {
        <div class="checkbox-item">
          <p-checkbox
            [binary]="true"
            [inputId]="'section' + section.courseSectionId"
            [value]="section.courseSectionId"
            [(ngModel)]="section.isSelected"
            (ngModelChange)="onCheckboxChange() ; allSelected = false || this.selectedIds.length == this.sections.length"
          ></p-checkbox>
          <label [for]="'section' + section.courseSectionId">{{ section.name }}</label>
        </div>
      }
     }
      
    </div>
  </div>

  <ng-template pTemplate="footer">
    <button
      type="button"
      pButton
      label="Cancel"
      class="p-button-secondary"
      (click)="close()"
    ></button>
    <button
      type="button"
      pButton
      label="Activate"
      class="p-button-primary"
      (click)="_activateSkill()"
    ></button>
  </ng-template>
</p-dialog>
