<div class="filters">
  <div class="search-box" dir="ltr">
    <span class="p-input-icon-left">
      <img src="icon-search.svg" alt="search" />
      <input type="text" pInputText [(ngModel)]="readingFilter.searchValue" placeholder="{{'SEARCH' | translate}}" (ngModelChange)="getStories()" />
    </span>
  </div>
  <div class="level-filters">
    <p-dropdown [options]="mainLevels" [(ngModel)]="readingFilter.readingMainLevelId" placeholder="{{'SELECT_MAIN_LEVEL' | translate}}"
      optionLabel="name" optionValue="mainLevelId" [showClear]="false" (ngModelChange)="onMainLevelChange($event)"
      styleClass="main-level-dropdown">
    </p-dropdown>
    <p-dropdown [options]="subLevels" [(ngModel)]="readingFilter.readingSubLevelId" placeholder="{{'SELECT_SUB_LEVEL' | translate}}" [showClear]="false"
      optionLabel="name" optionValue="subLevelId" (ngModelChange)="onSubLevelChange(readingFilter.readingMainLevelId , $event)" styleClass="sub-level-dropdown">
    </p-dropdown>
    <div class="filter-container" (click)="toggleAdvancedSearch()">
      <img src="icon-filter.svg" alt="filter" />
    </div>
  </div>
</div>
<div class="advanced-search" *ngIf="showAdvancedSearch">
  <div class="advanced-filters">
    <p-dropdown [options]="detailedFilter.learningOutcomes" [(ngModel)]="readingFilter.learningOutcomeId" optionLabel="name" optionValue="learningOutcomeId"
    [placeholder]="'SKILLS' | translate" [showClear]="false"></p-dropdown>
    
    <p-dropdown [options]="detailedFilter.grades" [(ngModel)]="readingFilter.gradeId" optionLabel="name" optionValue="gradeId"
    [placeholder]="'GRADE' | translate" [showClear]="false"></p-dropdown>
    
    <p-dropdown [options]="detailedFilter.genres" [(ngModel)]="readingFilter.genreId" optionLabel="name" optionValue="genreId"
      [placeholder]="'COMPREHENSION_SKILLS' | translate" [showClear]="false"></p-dropdown>
    
    <p-dropdown [options]="detailedFilter.subjects" [(ngModel)]="readingFilter.subjectId" optionLabel="name" optionValue="subjectId" 
    [placeholder]="'SUBJECT' | translate" [showClear]="false"></p-dropdown>
    
    <p-dropdown [options]="detailedFilter.learningHubs" [(ngModel)]="readingFilter.learningHubId" optionLabel="name" optionValue="learningHubId" 
    [placeholder]="'HUB' | translate" [showClear]="false"></p-dropdown>
    
    <p-dropdown [options]="[]" [placeholder]="'IB_HUB' | translate" [showClear]="false"></p-dropdown>
    
    <p-dropdown [options]="detailedFilter.ibLearnerProfiles" [(ngModel)]="readingFilter.ibLearnerProfileId" optionLabel="name" optionValue="ibLearnerProfileId"
    [placeholder]="'IB_LEARNER_PROFILE' | translate" [showClear]="false"></p-dropdown>
    
    <p-dropdown [options]="[]" [placeholder]="'LITERARY_TYPE' | translate" [showClear]="false"></p-dropdown>
    
    <p-dropdown [options]="detailedFilter.authors" [(ngModel)]="readingFilter.authorId" optionLabel="name" optionValue="authorId"
    [placeholder]="'AUTHOR' | translate" [showClear]="false"></p-dropdown>
    
    <p-dropdown [options]="detailedFilter.publishers" [(ngModel)]="readingFilter.publisherId" optionLabel="name" optionValue="publisherId" 
    [placeholder]="'PUBLISHER' | translate" [showClear]="false"></p-dropdown>
    
    <p-dropdown [options]="detailedFilter.illustrators" [(ngModel)]="readingFilter.illustratorId" [placeholder]="'ILLUSTRATOR' | translate" 
    optionLabel="name" optionValue="illustratorId" [showClear]="false"></p-dropdown>
    
    <p-dropdown [options]="detailedFilter.ageGroups" [(ngModel)]="readingFilter.ageGroupId" optionLabel="name" optionValue="ageGroupId"
    [placeholder]="'AGE_GROUP' | translate" [showClear]="false"></p-dropdown>
  </div>
  <div class="advanced-search-actions">
    <button pButton label="Cancel" class="p-button-outlined" (click)="onCancelAdvancedSearch()"></button>
    <button pButton label="Search" class="p-button-primary" (click)="getStories()"></button>
  </div>
</div>


@if(books.stories){
<div class="books-number">{{ books.totalRecords }} {{'BOOKS' | translate}}</div>
<div class="books-grid">
  @for (book of books.stories; track book.title) {
  <div class="book-card">
    <div class="book-cover">
      <img [src]="book.coverUrl" [alt]="book.title" />
    </div>
    <div class="book-details">
      <h3 class="title">{{ book.title }}</h3>
      <p class="sub-level">{{'SUB_LEVEL' | translate}}: {{ book.levelName }}</p>
      <p class="author">{{'AUTHOR' | translate}}: {{ book.authorName }}</p>
      <button pButton class="p-button-primary" (click)="viewBook(book)">{{'VIEW_BOOK' | translate}}</button>
    </div>
  </div>
  }
</div>

<app-pagination [first]="first" [rows]="books.pageSize" [totalRecords]="books.totalRecords" itemLabel="{{'BOOKS' | translate}}"
  (pageChange)="nextPage($event)"></app-pagination>
}