<div class="filters">
  <div class="search-box">
    <span class="p-input-icon-left">
      <i class="pi pi-search"></i>
      <input type="text" pInputText [(ngModel)]="searchQuery" placeholder="Search books..." (input)="onSearch()" />
    </span>
  </div>
  <div class="level-filters">
    <p-dropdown [options]="mainLevels" [(ngModel)]="readingFilter.readingMainLevelId" placeholder="Select Main Level"
      optionLabel="name" optionValue="mainLevelId" [showClear]="false" (ngModelChange)="onMainLevelChange()"
      styleClass="main-level-dropdown">
    </p-dropdown>
    <p-dropdown [options]="subLevels" [(ngModel)]="readingFilter.readingSubLevelId" placeholder="Select Sub Level" [showClear]="false"
      optionLabel="name" optionValue="subLevelId" (ngModelChange)="onSubLevelChange()" styleClass="sub-level-dropdown">
    </p-dropdown>
    <div class="filter-container" (click)="toggleAdvancedSearch()">
      <img src="icon-filter.svg" alt="filter" />
    </div>
  </div>
</div>
<div class="advanced-search" *ngIf="showAdvancedSearch">
  <div class="advanced-filters">
    <p-dropdown [options]="detailedFilter.learningOutcomes" [(ngModel)]="readingFilter.learningOutcomeId" optionLabel="name" optionValue="learningOutcomeId"
    placeholder="Skills" [showClear]="false"></p-dropdown>
    <p-dropdown [options]="detailedFilter.grades" [(ngModel)]="readingFilter.gradeId" optionLabel="name" optionValue="gradeId"
    placeholder="Grade" [showClear]="false"></p-dropdown>
    <p-dropdown [options]="detailedFilter.genres" [(ngModel)]="readingFilter.genreId" optionLabel="name" optionValue="genreId"
      placeholder="Comprehension Skills" [showClear]="false"></p-dropdown>
    <p-dropdown [options]="detailedFilter.subjects" [(ngModel)]="readingFilter.subjectId" optionLabel="name" optionValue="subjectId" placeholder="Subject"
      [showClear]="false"></p-dropdown>
    <p-dropdown [options]="detailedFilter.learningHubs" [(ngModel)]="readingFilter.learningHubId" optionLabel="name" optionValue="learningHubId" placeholder="Hub" [showClear]="false"></p-dropdown>
    <p-dropdown [options]="[]" placeholder="IB Hub" [showClear]="false"></p-dropdown>
    <p-dropdown [options]="detailedFilter.ibLearnerProfiles" [(ngModel)]="readingFilter.ibLearnerProfileId" optionLabel="name" optionValue="ibLearnerProfileId"
    placeholder="IB Learner Profile"
      [showClear]="false"></p-dropdown>
    <p-dropdown [options]="[]" placeholder="Literary Type"
      [showClear]="false"></p-dropdown>
    <p-dropdown [options]="detailedFilter.authors" [(ngModel)]="readingFilter.authorId" optionLabel="name" optionValue="authorId"
    placeholder="Author Name"
      [showClear]="false"></p-dropdown>
    <p-dropdown [options]="detailedFilter.publishers" [(ngModel)]="readingFilter.publisherId" optionLabel="name" optionValue="publisherId" placeholder="Publisher"
      [showClear]="false"></p-dropdown>
    <p-dropdown [options]="detailedFilter.illustrators" [(ngModel)]="readingFilter.illustratorId" placeholder="Illustrator" optionLabel="name" optionValue="illustratorId"
      [showClear]="false"></p-dropdown>
    <p-dropdown [options]="detailedFilter.ageGroups" [(ngModel)]="readingFilter.ageGroupId" optionLabel="name" optionValue="ageGroupId"
    placeholder="Age Group"
      [showClear]="false"></p-dropdown>
  </div>
  <div class="advanced-search-actions">
    <button pButton label="Cancel" class="p-button-outlined" (click)="onCancelAdvancedSearch()"></button>
    <button pButton label="Search" class="p-button-primary" (click)="getStories()"></button>
  </div>
</div>

@if(books.stories){
<div class="books-number">{{ books.totalRecords }} Books</div>
<div class="books-grid">
  @for (book of books.stories; track book.title) {
  <div class="book-card">
    <div class="book-cover">
      <img [src]="book.coverUrl" [alt]="book.title" />
    </div>
    <div class="book-details">
      <h3 class="title">{{ book.title }}</h3>
      <p class="sub-level">Sub Level: {{ book.levelName }}</p>
      <p class="author">Author: {{ book.authorName }}</p>
      <button pButton class="p-button-primary" (click)="viewBook(book)">View Book</button>
    </div>
  </div>
  }
</div>

<app-pagination [first]="first" [rows]="books.pageSize" [totalRecords]="books.totalRecords" itemLabel="books"
  (pageChange)="nextPage($event)"></app-pagination>
}