<div class="container-fluid row gap-4">
  <section class="status">
    <h2 class="fs-5 mb-3">Stats</h2>
    <div class="row g-3">
      <div class="col-12 col-md-6 col-lg-4">
        <div
          class="card p-4 rounded d-flex flex-column card-bg text-primary-900"
        >
          <span class="fs-7 fw-bold">Active Skills</span>
          <span class="fs-1 fw-bold">{{ stats.activeSkills }}</span>
        </div>
      </div>
      <div class="col-12 col-md-6 col-lg-4">
        <div
          class="card p-4 rounded d-flex flex-column card-bg text-primary-900"
        >
          <span class="fs-7 fw-bold">Total Skills</span>
          <span class="fs-1 fw-bold">{{ stats.totalSkills }}</span>
        </div>
      </div>
      <div class="col-12 col-md-6 col-lg-4">
        <div
          class="card p-4 rounded d-flex flex-column card-bg text-primary-900"
        >
          <span class="fs-7 fw-bold">Mastered Skills</span>
          <span class="fs-1 fw-bold">{{ stats.masteredSkills }}</span>
        </div>
      </div>
    </div>
  </section>
  <section class="skills row gap-3">
    <h3 class="fs-5 mb-3">Skills</h3>
    <div
      *ngFor="let skill of stats.skills"
      class="border p-10px d-flex align-items-center"
      style="border-radius: 15px"
    >
      <div class="w-auto me-4 ms-5">
        <div class="d-flex justify-content-start align-items-center">
          <h4 class="h4 fs-1 me-5">{{ skill.name }}</h4>
          <a
            class="border-style d-flex justify-content-between align-items-center"
            href="#"
          >
            <span class="fs-8 min-w-5 text-decoration-none text-black fw-bold">
              See All
            </span>
          </a>
        </div>
        <p class="fs-7">{{ skill.inductive }} InActive</p>
        <p class="fs-7">{{ skill.activated }} Activated</p>
      </div>
      <div class="card w-100 h-100">
        <div
          class="d-flex flex-column w-100 justify-content-center align-items-center"
        >
          <div class="w-100 d-flex justify-content-center align-items-center">
            <img
              src="assets/images/frame-446.svg"
              class="img-fluid mb-4"
              alt="image desc"
              width="100%"
              height="100%"
            />
            <!-- <span
              style="font-size: 34px"
              class="text-secondery-900 pb-4 w-100 text-center"
              >Quick Action</span
            > -->
          </div>

          <div class="w-100 px-2 py-1">
            <div class="input-group mb-3 w-100">
              <input
                type="text"
                class="form-control"
                placeholder="تمييز السُّكون"
                aria-label="تمييز السُّكون"
                aria-describedby="button-addon2"
              />
              <button
                class="btn btn-outline-secondary"
                type="button"
                id="button-addon2"
              >
                Button
              </button>
            </div>
            <div class="input-group mb-3 w-100">
              <input
                type="text"
                class="form-control"
                placeholder="تمييز السُّكون"
                aria-label="تمييز السُّكون"
                aria-describedby="button-addon2"
              />
              <button
                class="btn btn-outline-secondary"
                type="button"
                id="button-addon2"
              >
                Button
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
