<div class="book-listening">
  <div class="book-card">
    <div class="book-cover">
      <img [src]="selectedBook.coverImageUrl" [alt]="selectedBook.title" />
    </div>
    <div class="book-details">
      <div class="title">{{ selectedBook.title }}</div>
      <p class="sub-level">
        {{'SUB_LEVEL' | translate}}: <b>{{ selectedBook.assignmentTypeName }}</b>
      </p>
      <p class="author">
        {{'AUTHOR' | translate}}: <b>{{ selectedBook.authorName }}</b>
      </p>
      <p class="student-level">
        Main level: <b>{{ selectedBook.mainLevelName }}</b>
      </p>
    </div>
    <div class="book-actions">
      <button
        pButton
        label=""
        class="p-button-outlined"
        (click)="showPreviewBookPopup = true"
      >
        <img src="icon-eye.svg" alt="view" />
      </button>
    </div>
  </div>
  <div class="header">
    <div class="title">
      Student Answer <span *ngIf="viewType === 'grid'">(12)</span>
    </div>
    <div class="action-buttons">
      <img
        src="icon-list-view.svg"
        alt="list view"
        class="icon pointer"
        [class.active]="viewType === 'list'"
        (click)="viewType = 'list'"
      />
      <img
        src="icon-book-view.svg"
        alt="grid view"
        class="icon pointer"
        [class.active]="viewType === 'grid'"
        (click)="viewType = 'grid'"
      />
    </div>
  </div>
  @if (viewType === 'list') {
  <div class="information">
    <button
      pButton
      type="button"
      label=""
      class="p-button-primary"
      (click)="playAll()"
    >
      <img *ngIf="!isPlaying" src="icon-play-small.svg" alt="play" />
      <img *ngIf="isPlaying" src="icon-pause-sml.svg" alt="pause" />
      <span *ngIf="!isPlaying">Play All</span>
      <span *ngIf="isPlaying">Playing (Page 3)</span>
    </button>
    <div class="played-count">3 of 10 played</div>
  </div>
  <div class="content">
    <div class="media-player">
      <app-media-player
        (onReviewPageClick)="goToReviewPage()"
      ></app-media-player>
    </div>
  </div>
  } @if (viewType === 'grid') {
  <div class="book-view-container">
    <div class="book-view-content">
      <div class="media-player">
        <app-media-player
        ></app-media-player>
      </div>
      <img
        src="assets/images/book-image.svg"
        alt="book view"
        class="book-page-image"
      />
    </div>
  </div>
  <div class="slides-arrows">
    <div class="arrow-container left">
      <img src="arrow-right-dark.svg" alt="arrow left" />
    </div>
    <div class="page-number">1/12</div>
    <div class="arrow-container right">
      <img src="arrow-right-dark.svg" alt="arrow right" />
    </div>
  </div>
  }
</div>

<!-- Review Popup -->
<p-dialog
  [(visible)]="showReviewPopup"
  [modal]="true"
  [closable]="false"
  [draggable]="false"
  [resizable]="false"
  class="review-popup"
  (onHide)="closeReviewPopup()"
>
  <ng-template pTemplate="header">
    <div class="dialog-header">
      <div class="title">Page 1 Preview</div>
      <button
        pButton
        class="p-button-text close-btn"
        (click)="closeReviewPopup()"
      >
        <img src="icon-close-black.svg" alt="Close" />
      </button>
    </div>
  </ng-template>
  <div class="review-content">
    <img
      src="/assets/images/book-image.svg"
      alt="Page 1 Preview"
      class="preview-image"
    />
  </div>
</p-dialog>

@if (showPreviewBookPopup) {
<app-html-dialog [(ngModel)]="showPreviewBookPopup" />
}
