<div>
    @if (statistics.length) {
        <app-skill-summary
        [showAssignmentButton]="false"
        [data]="statistics"
        (onSearchChange)="onSearchChange($event)"
      ></app-skill-summary>
      }
    <div class="units-container">
        <div class="header">
            <h1 class="page-title">{{skillCurriculum.totalRecords}} {{ "SKILL" | translate }}</h1>
        </div>
    
        @if (skillCurriculum.learningOutcomes) {
        @for (skill of skillCurriculum.learningOutcomes; track $index) {
        @if(skill.isSkill){
        <app-skills-cards [sections]="sections" [skill]="skill" />
        }
        @else {
        <app-lesson-cards [sections]="sections" [card]="skill" (cardClick)="clickedCard($event)" />
        }
        }
    
        <app-pagination [first]="first" [rows]="skillCurriculum.pageSize" [itemLabel]="'SKILL'"
            [totalRecords]="skillCurriculum.totalRecords"
            (pageChange)="nextPage($event)"></app-pagination>
        }
    </div>
</div>