<div class="students">
  <div class="header">
    <div class="filter-by-date">Filter by date</div>
    <div class="d-flex justify-content-between align-items-center">
      <div class="filters-container">
        <div class="date-picker position-relative">
          <p-datePicker
            [(ngModel)]="startDate"
            placeholder="{{ 'START_DATE' | translate }}"
            [showClear]="false"
            dateFormat="yy-mm-dd"
          ></p-datePicker>
          <img src="icon-datepicker.svg" alt="calendar" class="picker-icon" />
        </div>
        <div class="date-picker position-relative">
          <p-datePicker
            [(ngModel)]="endDate"
            placeholder="{{ 'END_DATE' | translate }}"
            [showClear]="false"
            dateFormat="yy-mm-dd"
          ></p-datePicker>
          <img src="icon-datepicker.svg" alt="calendar" class="picker-icon" />
        </div>
        <button
          pButton
          type="button"
          label="{{ 'SEARCH' | translate }}"
          class="p-button-primary filter-button"
          (click)="onFilter()"
          size="small"
        ></button>
      </div>
      <div class="buttons">
        <button
          pButton
          type="button"
          label=""
          class="p-button-outlined action-button"
          (click)="onSendCertificate()"
          size="small"
          [disabled]="!hasSelectedRows()"
        >
          <span>{{ "SEND_CERTIFICATE" | translate }}</span>
          <img src="icon-certificate-sml.svg" alt="send certificate" />
        </button>
        <button
          pButton
          type="button"
          label=""
          class="p-button-outlined action-button"
          (click)="onCreateReport()"
          size="small"
          [disabled]="!hasSelectedRows()"
        >
          <span>{{ "CREATE_REPORT" | translate }}</span>
          <img src="icon-report-sml.svg" alt="create report" />
        </button>
        <button
          pButton
          type="button"
          label=""
          class="p-button-outlined action-button"
          (click)="onCreateGroup()"
          size="small"
          [disabled]="!hasSelectedRows()"
        >
          <span>{{ "CREATE_GROUP" | translate }}</span>
          <img src="icon-plus-sml.svg" alt="add" />
        </button>
      </div>
    </div>

    <div class="tabs">
      <div
        class="tab"
        [class.selected]="selectedTab === 'homeroom'"
        (click)="onTabClick('homeroom')"
      >
        {{ "HOMEROOM" | translate }}
      </div>
      <div
        class="tab"
        [class.selected]="selectedTab === 'groups'"
        (click)="onTabClick('groups')"
      >
        {{ "GROUPS" | translate }}
      </div>
    </div>
  </div>

  <div class="content">
    <!-- Homeroom Tab Content -->
    <div *ngIf="selectedTab === 'homeroom'">
      <div class="grid-header">
        <div class="header-item checkbox-column custom-checkbox">
          <input
            type="checkbox"
            id="allStudentsSelected"
            name="allStudentsSelected"
            [(ngModel)]="allStudentsSelected"
            class="visually-hidden"
            (change)="toggleAllStudents(allStudentsSelected)"
          />
          <label for="allStudentsSelected" class="checkbox-label">
            <span class="checkbox-icon">
              <img
                *ngIf="allStudentsSelected"
                src="icon-checkbox-checked.svg"
                alt="Checked"
                class="checkbox-checked"
              />
              <img
                *ngIf="!allStudentsSelected"
                src="icon-checkbox-unchecked.svg"
                alt="Unchecked"
                class="checkbox-unchecked"
              />
            </span>
          </label>
        </div>
        <div class="header-item student-name">
          <span>{{ "STUDENT_NAME" | translate }}</span>
          <img
            src="icon-sort.svg"
            alt="sort"
            (click)="onSort('name')"
            [src]="
              sortColumn === 'name'
                ? sortDirection === 'asc'
                  ? 'icon-sort-asc.svg'
                  : 'icon-sort.svg'
                : 'icon-sort.svg'
            "
          />
        </div>
        <div class="header-item practiced-questions">
          <span>{{ "PRACTICED_QUESTIONS" | translate }}</span>
          <img
            src="icon-sort.svg"
            alt="sort"
            (click)="onSort('practicedQuestions')"
            [src]="
              sortColumn === 'practicedQuestions'
                ? sortDirection === 'asc'
                  ? 'icon-sort-asc.svg'
                  : 'icon-sort.svg'
                : 'icon-sort.svg'
            "
          />
        </div>
        <div class="header-item read-stories">
          <span>{{ "READ_STORIES" | translate }}</span>
          <img
            src="icon-sort.svg"
            alt="sort"
            (click)="onSort('readStories')"
            [src]="
              sortColumn === 'readStories'
                ? sortDirection === 'asc'
                  ? 'icon-sort-asc.svg'
                  : 'icon-sort.svg'
                : 'icon-sort.svg'
            "
          />
        </div>
        <div class="header-item progressed-skills">
          <span>{{ "PROGRESSED_SKILLS" | translate }}</span>
          <img
            src="icon-sort.svg"
            alt="sort"
            (click)="onSort('progressedSkills')"
            [src]="
              sortColumn === 'progressedSkills'
                ? sortDirection === 'asc'
                  ? 'icon-sort-asc.svg'
                  : 'icon-sort.svg'
                : 'icon-sort.svg'
            "
          />
        </div>
        <div class="header-item leveled-reading">
          <span>{{ "LEVELED_READING" | translate }}</span>
          <img
            src="icon-sort.svg"
            alt="sort"
            (click)="onSort('leveledReading')"
            [src]="
              sortColumn === 'leveledReading'
                ? sortDirection === 'asc'
                  ? 'icon-sort-asc.svg'
                  : 'icon-sort.svg'
                : 'icon-sort.svg'
            "
          />
        </div>
        <div class="header-item last-login">
          <span>{{ "LAST_LOGIN" | translate }}</span>
          <img
            src="icon-sort.svg"
            alt="sort"
            (click)="onSort('lastLogin')"
            [src]="
              sortColumn === 'lastLogin'
                ? sortDirection === 'asc'
                  ? 'icon-sort-asc.svg'
                  : 'icon-sort.svg'
                : 'icon-sort.svg'
            "
          />
        </div>
        <div class="header-item actions">
          <span></span>
        </div>
      </div>

      <div class="students-list">
        <div class="student-row" *ngFor="let student of students">
          <div class="item checkbox-column custom-checkbox">
            <input
              type="checkbox"
              [id]="student.id"
              [name]="student.id + 'student'"
              [(ngModel)]="student.selected"
              (onChange)="onStudentSelectionChange()"
              class="visually-hidden"
            />
            <label [for]="student.id" class="checkbox-label">
              <span class="checkbox-icon">
                <img
                  *ngIf="student.selected"
                  src="icon-checkbox-checked.svg"
                  alt="Checked"
                  class="checkbox-checked"
                />
                <img
                  *ngIf="!student.selected"
                  src="icon-checkbox-unchecked.svg"
                  alt="Unchecked"
                  class="checkbox-unchecked"
                />
              </span>
            </label>
          </div>
          <div class="item student-name">
            <div class="student-info">
              <div class="student-avatar">
                <span>{{ student.initials }}</span>
              </div>
              <span class="student-name-text">{{ student.name }}</span>
            </div>
          </div>
          <div class="item practiced-questions">
            {{ student.practicedQuestions }}
          </div>
          <div class="item read-stories">{{ student.readStories }}</div>
          <div class="item progressed-skills">
            {{ student.progressedSkills }}
          </div>
          <div class="item leveled-reading">{{ student.leveledReading }}</div>
          <div class="item last-login">{{ student.lastLogin }}</div>
          <div class="item actions d-flex gap-2">
            <img src="icon-edit-square-sml.svg" alt="edit" class="action-icon" />
            <img src="icon-bravo-square.svg" alt="bravo" class="action-icon" />
            <img src="icon-arrow-right-square.svg" alt="details" class="action-icon" />
          </div>
        </div>
      </div>
    </div>

    <!-- Groups Tab Content -->
    <div *ngIf="selectedTab === 'groups'">
      <div class="grid-header">
        <div class="header-item checkbox-column custom-checkbox">
          <input
            type="checkbox"
            id="allGroupsSelected"
            name="allGroupsSelected"
            [(ngModel)]="allGroupsSelected"
            class="visually-hidden"
            (change)="toggleAllGroups(allGroupsSelected)"
          />
          <label for="allGroupsSelected" class="checkbox-label">
            <span class="checkbox-icon">
              <img
                *ngIf="allGroupsSelected"
                src="icon-checkbox-checked.svg"
                alt="Checked"
                class="checkbox-checked"
              />
              <img
                *ngIf="!allGroupsSelected"
                src="icon-checkbox-unchecked.svg"
                alt="Unchecked"
                class="checkbox-unchecked"
              />
            </span>
          </label>
        </div>
        <div class="header-item group-name">
          <span>{{ "GROUP_NAME" | translate }}</span>
          <img
            src="icon-sort.svg"
            alt="sort"
            (click)="onSort('groupName')"
            [src]="
              sortColumn === 'groupName'
                ? sortDirection === 'asc'
                  ? 'icon-sort-asc.svg'
                  : 'icon-sort.svg'
                : 'icon-sort.svg'
            "
          />
        </div>
        <div class="header-item number-of-students">
          <span>{{ "NUMBER_OF_STUDENTS" | translate }}</span>
          <img
            src="icon-sort.svg"
            alt="sort"
            (click)="onSort('numberOfStudents')"
            [src]="
              sortColumn === 'numberOfStudents'
                ? sortDirection === 'asc'
                  ? 'icon-sort-asc.svg'
                  : 'icon-sort.svg'
                : 'icon-sort.svg'
            "
          />
        </div>
        <div class="header-item actions">
          <span></span>
        </div>
      </div>

      <div class="groups-list">
        <div class="group-row" *ngFor="let group of groups">
          <div class="item checkbox-column custom-checkbox">
            <input
              type="checkbox"
              [id]="group.id"
              [name]="group.id + 'group'"
              [(ngModel)]="group.selected"
              (onChange)="onGroupSelectionChange()"
              class="visually-hidden"
            />
            <label [for]="group.id" class="checkbox-label">
              <span class="checkbox-icon">
                <img
                  *ngIf="group.selected"
                  src="icon-checkbox-checked.svg"
                  alt="Checked"
                  class="checkbox-checked"
                />
                <img
                  *ngIf="!group.selected"
                  src="icon-checkbox-unchecked.svg"
                  alt="Unchecked"
                  class="checkbox-unchecked"
                />
              </span>
            </label>
          </div>
          <div class="item group-name">{{ group.groupName }}</div>
          <div class="item number-of-students">
            {{ group.numberOfStudents }}
          </div>
           <div class="item actions d-flex gap-2">
             <img src="icon-red-trash-square.svg" alt="delete" class="action-icon" (click)="onDeleteGroupClick()" />
             <img src="icon-edit-square-sml.svg" alt="edit" class="action-icon" />
             <img src="icon-arrow-right-square.svg" alt="details" class="action-icon" (click)="goToGroupDetails(group.id)" />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<p-dialog
  [(visible)]="showDeleteDialog"
  [modal]="true"
  [closable]="true"
  [draggable]="false"
  [resizable]="false"
  [breakpoints]="{ '960px': '75vw', '640px': '90vw' }"
  [style]="{ width: '500px' }"
>
  <div class="delete-icon">
    <img src="icon-red-trash-xlarge.svg" alt="delete" class="action-icon" />
  </div>
  <div class="confirm-delete-content">
    <p>{{ "ARE_YOU_SURE_YOU_WANT_TO_DELETE_THE_GROUP" | translate }}</p>
  </div>
  <ng-template pTemplate="footer">
    <button
      pButton
      type="button"
      class="p-button-outlined"
      (click)="onCancelDelete()"
    >
      {{ "CANCEL" | translate }}
    </button>
    <button
      pButton
      type="button"
      class="p-button-primary"
      (click)="onConfirmDelete()"
    >
      {{ "YES_DELETE" | translate }}
    </button>
  </ng-template>
</p-dialog>
