<div class="students">
  <div class="header">
    <div class="filter-by-date">Filter by date</div>
    <div class="d-flex justify-content-between align-items-center">
      <div class="filters-container">
        <div class="date-picker position-relative">
          <p-datePicker
            [(ngModel)]="startDate"
            placeholder="{{ 'START_DATE' | translate }}"
            [showClear]="false"
            dateFormat="yy-mm-dd"
          ></p-datePicker>
          <img src="icon-datepicker.svg" alt="calendar" class="picker-icon" />
        </div>
        <div class="date-picker position-relative">
          <p-datePicker
            [(ngModel)]="endDate"
            placeholder="{{ 'END_DATE' | translate }}"
            [showClear]="false"
            dateFormat="yy-mm-dd"
          ></p-datePicker>
          <img src="icon-datepicker.svg" alt="calendar" class="picker-icon" />
        </div>
        <button
          pButton
          type="button"
          label="{{ 'SEARCH' | translate }}"
          class="p-button-primary filter-button"
          (click)="onFilter()"
          size="small"
        ></button>
      </div>
      <div class="buttons">
        <button
          pButton
          type="button"
          label=""
          class="p-button-outlined action-button"
          (click)="onSendCertificate()"
          size="small"
          
        >
          <span>{{ "SEND_CERTIFICATE" | translate }}</span>
          <img src="icon-certificate-sml.svg" alt="send certificate" />
        </button>
        <button
          pButton
          type="button"
          label=""
          class="p-button-outlined action-button"
          (click)="onCreateReport()"
          size="small"
          
        >
          <span>{{ "CREATE_REPORT" | translate }}</span>
          <img src="icon-report-sml.svg" alt="create report" />
        </button>
        <button
          pButton
          type="button"
          label=""
          class="p-button-outlined action-button"
          (click)="onCreateGroup()"
          size="small"
          
        >
          <span>{{ "CREATE_GROUP" | translate }}</span>
          <img src="icon-plus-sml.svg" alt="add" />
        </button>
      </div>
    </div>

    <div class="tabs">
      <div
        class="tab"
        [class.selected]="selectedTab === 'homeroom'"
        (click)="onTabClick('homeroom')"
      >
        {{ "HOMEROOM" | translate }}
      </div>
      <div
        class="tab"
        [class.selected]="selectedTab === 'groups'"
        (click)="onTabClick('groups')"
      >
        {{ "GROUPS" | translate }}
      </div>
    </div>
  </div>

  <div class="content">
    <!-- Homeroom Tab Content -->
    @if (selectedTab === 'homeroom') {
      <div>
        <div class="grid-header">
          <div class="header-item checkbox-column custom-checkbox">
            <input
              type="checkbox"
              id="allStudentsSelected"
              name="allStudentsSelected"
              [(ngModel)]="allStudentsSelected"
              class="visually-hidden"
              (change)="toggleAllStudents(allStudentsSelected)"
            />
            <label for="allStudentsSelected" class="checkbox-label">
                           <span class="checkbox-icon">
               @if (allStudentsSelected) {
                 <img
                   src="icon-checkbox-checked.svg"
                   alt="Checked"
                   class="checkbox-checked"
                 />
               } @else {
                 <img
                   src="icon-checkbox-unchecked.svg"
                   alt="Unchecked"
                   class="checkbox-unchecked"
                 />
               }
             </span>
            </label>
          </div>
          <div class="header-item student-name">
            <span>{{ "STUDENT_NAME" | translate }}</span>
            <img
              src="icon-sort.svg"
              alt="sort"
              (click)="onSort('name')"
              [src]="
                sortColumn === 'name'
                  ? sortDirection === 'asc'
                    ? 'icon-sort-asc.svg'
                    : 'icon-sort.svg'
                  : 'icon-sort.svg'
              "
            />
          </div>
          <div class="header-item practiced-questions">
            <span>{{ "PRACTICED_QUESTIONS" | translate }}</span>
            <img
              src="icon-sort.svg"
              alt="sort"
              (click)="onSort('practicedQuestions')"
              [src]="
                sortColumn === 'practicedQuestions'
                  ? sortDirection === 'asc'
                    ? 'icon-sort-asc.svg'
                    : 'icon-sort.svg'
                  : 'icon-sort.svg'
              "
            />
          </div>
          @if((sharedService.getSelectedItems().selectedSectionId != 1) || (sharedService.getSelectedItems().selectedSectionId != 4)){
            <div class="header-item read-stories">
            <span>{{ "READ_STORIES" | translate }}</span>
            <img
              src="icon-sort.svg"
              alt="sort"
              (click)="onSort('readStories')"
              [src]="
                sortColumn === 'readStories'
                  ? sortDirection === 'asc'
                    ? 'icon-sort-asc.svg'
                    : 'icon-sort.svg'
                  : 'icon-sort.svg'
              "
            />
          </div>
          }
          <div class="header-item progressed-skills">
            <span>{{ "PROGRESSED_SKILLS" | translate }}</span>
            <img
              src="icon-sort.svg"
              alt="sort"
              (click)="onSort('progressedSkills')"
              [src]="
                sortColumn === 'progressedSkills'
                  ? sortDirection === 'asc'
                    ? 'icon-sort-asc.svg'
                    : 'icon-sort.svg'
                  : 'icon-sort.svg'
              "
            />
          </div>
          @if((sharedService.getSelectedItems().selectedSectionId != 1) || (sharedService.getSelectedItems().selectedSectionId != 4)){
            <div class="header-item leveled-reading">
            <span>{{ "LEVELED_READING" | translate }}</span>
            <img
              src="icon-sort.svg"
              alt="sort"
              (click)="onSort('leveledReading')"
              [src]="
                sortColumn === 'leveledReading'
                  ? sortDirection === 'asc'
                    ? 'icon-sort-asc.svg'
                    : 'icon-sort.svg'
                  : 'icon-sort.svg'
              "
            />
          </div>
          }
          <div class="header-item last-login">
            <span>{{ "LAST_LOGIN" | translate }}</span>
            <img
              src="icon-sort.svg"
              alt="sort"
              (click)="onSort('lastLogin')"
              [src]="
                sortColumn === 'lastLogin'
                  ? sortDirection === 'asc'
                    ? 'icon-sort-asc.svg'
                    : 'icon-sort.svg'
                  : 'icon-sort.svg'
              "
            />
          </div>
          <div class="header-item actions">
            <span></span>
          </div>
        </div>
  
                 <div class="students-list">
           @for (student of students(); track student.fullName; let index = $index) {
             <div class="student-row">
               <div class="item checkbox-column custom-checkbox">
                 <input
                   type="checkbox"
                   [id]="'student-' + index"
                   [name]="'student-' + index"
                   [(ngModel)]="student.isSelected"
                   (change)="onStudentSelectionChange()"
                   class="visually-hidden"
                 />
                 <label [for]="'student-' + index" class="checkbox-label">
                   <span class="checkbox-icon">
                     @if (student.isSelected) {
                       <img
                         src="icon-checkbox-checked.svg"
                         alt="Checked"
                         class="checkbox-checked"
                       />
                     } @else {
                       <img
                         src="icon-checkbox-unchecked.svg"
                         alt="Unchecked"
                         class="checkbox-unchecked"
                       />
                     }
                   </span>
                 </label>
               </div>
               <div class="item student-name">
                 <div class="student-info">
                   <div class="student-avatar">
                     <span>{{ getInitials(student.fullName) }}</span>
                   </div>
                   <span class="student-name-text">{{ student.fullName }}</span>
                 </div>
               </div>
               <div class="item practiced-questions">
                 {{ getPracticedQuestions(student) }}
               </div>
              @if((sharedService.getSelectedItems().selectedSectionId != 1) || (sharedService.getSelectedItems().selectedSectionId != 4)){

               <div class="item read-stories">{{ getReadStories(student) }}</div>
              }
               <div class="item progressed-skills">
                 {{ getProgressedSkills(student) }}
               </div>
              @if((sharedService.getSelectedItems().selectedSectionId != 1) || (sharedService.getSelectedItems().selectedSectionId != 4)){

               <div class="item leveled-reading">{{ getLeveledReading(student) }}</div>
              }
               <div class="item last-login">{{ getLastLogin(student) }}</div>
               <div class="item actions d-flex gap-2">
                 <img
                   src="icon-edit-square-sml.svg"
                   alt="edit"
                   class="action-icon"
                   (click)="onEditStudentProfile(student)"
                 />
                 <img src="icon-bravo-square.svg" alt="bravo" class="action-icon" />
                 <img
                   src="icon-arrow-right-square.svg"
                   alt="details"
                   class="action-icon"
                 />
               </div>
             </div>
           }
         </div>
      </div>
    }@else {
          <!-- Groups Tab Content -->
    <div>
      <div class="grid-header">
        <div class="header-item checkbox-column custom-checkbox">
          <input
            type="checkbox"
            id="allGroupsSelected"
            name="allGroupsSelected"
            [(ngModel)]="allGroupsSelected"
            class="visually-hidden"
            (change)="toggleAllGroups(allGroupsSelected)"
          />
          <label for="allGroupsSelected" class="checkbox-label">
                         <span class="checkbox-icon">
               @if (allGroupsSelected) {
                 <img
                   src="icon-checkbox-checked.svg"
                   alt="Checked"
                   class="checkbox-checked"
                 />
               } @else {
                 <img
                   src="icon-checkbox-unchecked.svg"
                   alt="Unchecked"
                   class="checkbox-unchecked"
                 />
               }
             </span>
          </label>
        </div>
        <div class="header-item group-name">
          <span>{{ "GROUP_NAME" | translate }}</span>
          <img
            src="icon-sort.svg"
            alt="sort"
            (click)="onSort('groupName')"
            [src]="
              sortColumn === 'groupName'
                ? sortDirection === 'asc'
                  ? 'icon-sort-asc.svg'
                  : 'icon-sort.svg'
                : 'icon-sort.svg'
            "
          />
        </div>
        <div class="header-item number-of-students">
          <span>{{ "NUMBER_OF_STUDENTS" | translate }}</span>
          <img
            src="icon-sort.svg"
            alt="sort"
            (click)="onSort('numberOfStudents')"
            [src]="
              sortColumn === 'numberOfStudents'
                ? sortDirection === 'asc'
                  ? 'icon-sort-asc.svg'
                  : 'icon-sort.svg'
                : 'icon-sort.svg'
            "
          />
        </div>
        <div class="header-item actions">
          <span></span>
        </div>
      </div>

             <div class="groups-list">
         @for (group of groups; track group.id) {
           <div class="group-row">
             <div class="item checkbox-column custom-checkbox">
               <input
                 type="checkbox"
                 [id]="group.id"
                 [name]="group.id + 'group'"
                 [(ngModel)]="group.selected"
                 (change)="onGroupSelectionChange()"
                 class="visually-hidden"
               />
               <label [for]="group.id" class="checkbox-label">
                 <span class="checkbox-icon">
                   @if (group.selected) {
                     <img
                       src="icon-checkbox-checked.svg"
                       alt="Checked"
                       class="checkbox-checked"
                     />
                   } @else {
                     <img
                       src="icon-checkbox-unchecked.svg"
                       alt="Unchecked"
                       class="checkbox-unchecked"
                     />
                   }
                 </span>
               </label>
             </div>
             <div class="item group-name">{{ group.groupName }}</div>
             <div class="item number-of-students">
               {{ group.numberOfStudents }}
             </div>
             <div class="item actions d-flex gap-2">
               <img
                 src="icon-red-trash-square.svg"
                 alt="delete"
                 class="action-icon"
                 (click)="onDeleteGroupClick()"
               />
               <img
                 src="icon-edit-square-sml.svg"
                 alt="edit"
                 class="action-icon"
                 (click)="onEditGroup(group)"
               />
               <img
                 src="icon-arrow-right-square.svg"
                 alt="details"
                 class="action-icon"
                 (click)="goToGroupDetails(group.id)"
               />
             </div>
           </div>
         }
       </div>
    </div>
    }


  </div>
</div>

<p-dialog
  [(visible)]="showDeleteDialog"
  [modal]="true"
  [closable]="true"
  [draggable]="false"
  [resizable]="false"
  [breakpoints]="{ '960px': '75vw', '640px': '90vw' }"
  [style]="{ width: '500px' }"
>
  <div class="delete-icon">
    <img src="icon-red-trash-xlarge.svg" alt="delete" class="action-icon" />
  </div>
  <div class="confirm-delete-content">
    <p>{{ "ARE_YOU_SURE_YOU_WANT_TO_DELETE_THE_GROUP" | translate }}</p>
  </div>
  <ng-template pTemplate="footer">
    <button
      pButton
      type="button"
      class="p-button-outlined"
      (click)="onCancelDelete()"
    >
      {{ "CANCEL" | translate }}
    </button>
    <button
      pButton
      type="button"
      class="p-button-primary"
      (click)="onConfirmDelete()"
    >
      {{ "YES_DELETE" | translate }}
    </button>
  </ng-template>
</p-dialog>

<!-- Create Group Drawer -->
<p-drawer
  [(visible)]="showCreateGroupDrawer"
  position="right"
  [dismissible]="true"
  [showCloseIcon]="false"
  [modal]="true"
  [style]="{ width: '75vw' }"
>
  <ng-template pTemplate="header">
    <div class="drawer-header">
      <div class="title">
        {{ (isEditGroupMode ? "EDIT_GROUP" : "ADD_NEW_GROUP") | translate }}
      </div>
      <img
        src="icon-green-close-large.svg"
        alt="close"
        class="pointer"
        (click)="onCancelCreateGroup()"
      />
    </div>
  </ng-template>

  <div class="create-group-drawer">
    <div class="drawer-content">
      <div class="form-field">
        <label class="field-label">{{
          "GROUP_TITLE" | translate : { default: "Group Title" }
        }}</label>
        <input
          pInputText
          class="w-100"
          type="text"
          [(ngModel)]="newGroupTitle"
          [placeholder]="'ADD_HERE' | translate : { default: 'Add Here' }"
        />
      </div>

      <div class="students-section">
        <div class="section-title">
          {{
            "SELECTED_STUDENTS" | translate : { default: "Selected Students" }
          }}
        </div>
                 <div class="students-rows">
           @for (student of selectedStudentsForGroup; track student.fullName; let index = $index) {
             <div
               class="student-row selectable"
             >
               <div class="student-info">
                 <div class="student-avatar">
                   <span>{{ getInitials(student.fullName) }}</span>
                 </div>
                 <span class="student-name-text">{{ student.fullName }}</span>
               </div>
               <img
                 class="trash-icon"
                 src="icon-trash-red-large.svg"
                 alt="remove"
                 (click)="onRemoveStudentFromNewGroup(index)"
               />
             </div>
           }
         </div>

        <button
          pButton
          type="button"
          class="p-button-outlined add-student-btn"
          (click)="onAddStudentToNewGroup()"
        >
          {{ "ADD_STUDENTS" | translate : { default: "Add students" } }}
        </button>
      </div>
    </div>

    <div class="drawer-footer">
      <button
        pButton
        type="button"
        class="p-button-outlined"
        (click)="onCancelCreateGroup()"
      >
        {{ "CANCEL" | translate }}
      </button>
      <button
        pButton
        type="button"
        class="p-button-primary"
        (click)="onConfirmCreateGroup()"
      >
        {{ (isEditGroupMode ? "SAVE" : "CREATE") | translate }}
      </button>
    </div>
  </div>
</p-drawer>

<!-- Add Students Drawer -->
<p-drawer
  [(visible)]="showAddStudentsDrawer"
  position="right"
  [dismissible]="true"
  [showCloseIcon]="false"
  [modal]="true"
  [style]="{ width: '75vw' }"
>
  <ng-template pTemplate="header">
    <div class="drawer-header">
      <div class="title">
        {{ "ADD_STUDENTS" | translate : { default: "Add Students" } }}
      </div>
      <img
        src="icon-green-close-large.svg"
        alt="close"
        class="pointer"
        (click)="onCancelAddStudents()"
      />
    </div>
  </ng-template>

  <div class="create-group-drawer">
    <div class="drawer-content">
      <div class="students-section">
        <div class="section-title">
          {{ "SELECT_STUDENTS" | translate : { default: "Select Students" } }}
        </div>
                 <div class="students-rows">
           @for (student of students(); track student.fullName; let index = $index) {
             <div class="student-row selectable">
               <div class="student-info">
                 <div class="student-avatar">
                   <span>{{ getInitials(student.fullName) }}</span>
                 </div>
                 <span class="student-name-text">{{ student.fullName }}</span>
               </div>
               <p-checkbox
                 [binary]="true"
                 [ngModel]="isStudentSelectedForAdd(index)"
                 (ngModelChange)="toggleStudentAddSelection(index, $event)"
               ></p-checkbox>
             </div>
           }
         </div>
      </div>
    </div>

    <div class="drawer-footer">
      <button
        pButton
        type="button"
        class="p-button-outlined"
        (click)="onCancelAddStudents()"
      >
        {{ "CANCEL" | translate }}
      </button>
      <button
        pButton
        type="button"
        class="p-button-primary"
        (click)="onConfirmAddStudents()"
      >
        {{ "ADD" | translate : { default: "Add" } }}
      </button>
    </div>
  </div>
</p-drawer>

<!-- Edit Profile Dialog -->
<p-dialog
  [(visible)]="showEditProfileDialog"
  [modal]="true"
  [closable]="false"
  [draggable]="false"
  [resizable]="false"
  [breakpoints]="{ '960px': '75vw', '640px': '90vw' }"
  [style]="{ width: '65vw' }"
>
  <ng-template pTemplate="header">
    <div class="edit-profile-header">
      <h2 class="dialog-title">
        {{ "EDIT_PROFILE" | translate : { default: "Edit Profile" } }}
      </h2>
      <button
        pButton
        class="p-button-text close-btn"
        (click)="onCancelEditProfile()"
      >
        <img src="icon-close-black.svg" alt="Close" />
      </button>
    </div>
  </ng-template>

  <div class="edit-profile-content">
    <p-tabView>
      <!-- Student Information Tab -->
      <p-tabPanel
        header="{{
          'STUDENT_INFORMATION' | translate : { default: 'Student Information' }
        }}"
      >
        <div class="tab-content">
          <!-- Information Section -->
          <div class="form-section information">
            <h3 class="section-title">
              {{ "INFORMATION" | translate : { default: "Information" } }}
            </h3>
            <div class="form-row">
              <div class="form-field">
                <label class="field-label">{{
                  "FIRST_NAME_EN" | translate : { default: "First Name (En)" }
                }}</label>
                <input
                  pInputText
                  type="text"
                  [(ngModel)]="editProfileForm.firstNameEn"
                  [placeholder]="
                    'WRITE_HERE' | translate : { default: 'Write Here' }
                  "
                />
              </div>
              <div class="form-field">
                <label class="field-label">{{
                  "LAST_NAME_EN" | translate : { default: "Last Name (En)" }
                }}</label>
                <input
                  pInputText
                  type="text"
                  [(ngModel)]="editProfileForm.lastNameEn"
                  [placeholder]="
                    'WRITE_HERE' | translate : { default: 'Write Here' }
                  "
                />
              </div>
            </div>
            <div class="form-row">
              <div class="form-field">
                <label class="field-label">{{
                  "FIRST_NAME_AR" | translate : { default: "First Name (Ar)" }
                }}</label>
                <input
                  pInputText
                  type="text"
                  [(ngModel)]="editProfileForm.firstNameAr"
                  [placeholder]="
                    'WRITE_HERE' | translate : { default: 'Write Here' }
                  "
                />
              </div>
              <div class="form-field">
                <label class="field-label">{{
                  "LAST_NAME_AR" | translate : { default: "Last Name (Ar)" }
                }}</label>
                <input
                  pInputText
                  type="text"
                  [(ngModel)]="editProfileForm.lastNameAr"
                  [placeholder]="
                    'WRITE_HERE' | translate : { default: 'Write Here' }
                  "
                />
              </div>
            </div>
          </div>

          <!-- User Information Section -->
          <div class="form-section user-information">
            <h3 class="section-title">
              {{
                "USER_INFORMATION" | translate : { default: "User Information" }
              }}
            </h3>
            <div class="form-row">
              <div class="form-field">
                <label class="field-label">{{
                  "STUDENT_USERNAME"
                    | translate : { default: "Student Username" }
                }}</label>
                <input
                  pInputText
                  type="text"
                  [(ngModel)]="editProfileForm.username"
                  [placeholder]="
                    'WRITE_HERE' | translate : { default: 'Write Here' }
                  "
                />
              </div>
              <div class="form-field">
                <label class="field-label">{{
                  "STUDENT_PASSWORD"
                    | translate : { default: "Student Password" }
                }}</label>
                <p-password
                  type="password"
                  class=""
                  id="password"
                  name="password"
                  required
                  [(ngModel)]="editProfileForm.password"
                  [placeholder]="
                    'WRITE_HERE' | translate : { default: 'Write Here' }
                  "
                  [feedback]="false"
                  [toggleMask]="true"
                ></p-password>
              </div>
            </div>
          </div>
        </div>
      </p-tabPanel>

      <!-- Parent Information Tab -->
      <p-tabPanel
        header="{{
          'PARENT_INFORMATION' | translate : { default: 'Parent Information' }
        }}"
      >
        <div class="tab-content">
          <!-- Information Section -->
          <div class="form-section information">
            <h3 class="section-title">
              {{ "INFORMATION" | translate : { default: "Information" } }}
            </h3>
            <div class="form-row">
              <div class="form-field">
                <label class="field-label">{{
                  "PARENT_FIRST_NAME_EN" | translate : { default: "Parent First Name (En)" }
                }}</label>
                <input
                  pInputText
                  type="text"
                  [(ngModel)]="parentForm.firstNameEn"
                  [placeholder]="
                    'WRITE_HERE' | translate : { default: 'Write Here' }
                  "
                />
              </div>
              <div class="form-field">
                <label class="field-label">{{
                  "PARENT_LAST_NAME_EN" | translate : { default: "Parent Last Name (En)" }
                }}</label>
                <input
                  pInputText
                  type="text"
                  [(ngModel)]="parentForm.lastNameEn"
                  [placeholder]="
                    'WRITE_HERE' | translate : { default: 'Write Here' }
                  "
                />
              </div>
            </div>
            <div class="form-row">
              <div class="form-field">
                <label class="field-label">{{
                  "PARENT_FIRST_NAME_AR" | translate : { default: "Parent First Name (Ar)" }
                }}</label>
                <input
                  pInputText
                  type="text"
                  [(ngModel)]="parentForm.firstNameAr"
                  [placeholder]="
                    'WRITE_HERE' | translate : { default: 'Write Here' }
                  "
                />
              </div>
              <div class="form-field">
                <label class="field-label">{{
                  "PARENT_LAST_NAME_AR" | translate : { default: "Parent Last Name (Ar)" }
                }}</label>
                <input
                  pInputText
                  type="text"
                  [(ngModel)]="parentForm.lastNameAr"
                  [placeholder]="
                    'WRITE_HERE' | translate : { default: 'Write Here' }
                  "
                />
              </div>
            </div>
            <div class="form-row">
              <div class="form-field">
                <label class="field-label">{{
                  "PARENT_EMAIL" | translate : { default: "Parent Email" }
                }}</label>
                <input
                  pInputText
                  type="text"
                  [(ngModel)]="parentForm.email"
                  [placeholder]="
                    'WRITE_HERE' | translate : { default: 'Write Here' }
                  "
                />
              </div>
            </div>
          </div>

          <!-- User Information Section -->
          <div class="form-section user-information">
            <h3 class="section-title">
              {{
                "USER_INFORMATION" | translate : { default: "User Information" }
              }}
            </h3>
            <div class="form-row">
              <div class="form-field">
                <label class="field-label">{{
                  "PARENT_USERNAME"
                    | translate : { default: "Parent Username" }
                }}</label>
                <input
                  pInputText
                  type="text"
                  [(ngModel)]="parentForm.username"
                  [placeholder]="
                    'WRITE_HERE' | translate : { default: 'Write Here' }
                  "
                />
              </div>
              <div class="form-field">
                <label class="field-label">{{
                  "PARENT_PASSWORD"
                    | translate : { default: "Parent Password" }
                }}</label>
                <p-password
                  type="password"
                  class=""
                  id="parent-password"
                  name="parent-password"
                  required
                  [(ngModel)]="parentForm.password"
                  [placeholder]="
                    'WRITE_HERE' | translate : { default: 'Write Here' }
                  "
                  [feedback]="false"
                  [toggleMask]="true"
                ></p-password>
              </div>
            </div>
          </div>
        </div>
      </p-tabPanel>

      <!-- Modify Reading Level Tab -->
      <p-tabPanel
        header="{{
          'MODIFY_READING_LEVEL'
            | translate : { default: 'Modify Reading Level' }
        }}"
      >
      <div class="tab-content">
        <!-- Information Section -->
        <div class="form-section information">
          <h3 class="section-title">
            {{ "CURRENT_LEVEL" | translate : { default: "Current Level" } }}
          </h3>
          <div class="form-row">
            <div class="form-field">
              <label class="field-label">{{
                "LEVEL" | translate : { default: "Current Level" }
              }}</label>
              <input
                pInputText
                type="text"
                [(ngModel)]="modifyReadingLevelForm.currentLevel"
                [placeholder]="
                  'SELECT_LEVEL' | translate : { default: 'Select Level' }
                "
              />
            </div>
          </div>
        </div>

        <!-- User Information Section -->
        <div class="form-section user-information">
          <h3 class="section-title">
            {{
              "SELECT_NEW_LEVEL" | translate : { default: "Select New Level" }
            }}
          </h3>
          <div class="form-row">
            <div class="form-field">
              <label class="field-label">{{
                "LEVEL"
                  | translate : { default: "Level" }
              }}</label>
              <input
                pInputText
                type="text"
                [(ngModel)]="modifyReadingLevelForm.newLevel"
                [placeholder]="
                  'SELECT_LEVEL' | translate : { default: 'Select Level' }
                "
              />
            </div>
          </div>
        </div>
      </div>
      </p-tabPanel>
    </p-tabView>
  </div>

  <ng-template pTemplate="footer">
    <div class="edit-profile-footer">
      <button
        pButton
        type="button"
        class="p-button-outlined"
        (click)="onCancelEditProfile()"
      >
        {{ "CANCEL" | translate }}
      </button>
      <button
        pButton
        type="button"
        class="p-button-primary"
        (click)="onSaveEditProfile()"
      >
        {{ "SAVE" | translate }}
      </button>
    </div>
  </ng-template>
</p-dialog>
