
// Custom Color Variables
$positive-surface: #c9f0d9;
$positive-stroke: #9ed0ac;
$positive-shadow: #74af84;
$negative-surface-light: #ffebeb;
$negative-stroke: #dfc6c7;
$negative-shadow: #c77a7c;
$positive-icon: #4cb76c;
$neutral-white: #ffffff;
$neutral-black: #000000;
$primary-primary-100: #dff8ff;
$primary-primary-200: #bbf0ff;
$primary-primary-300: #94e8ff;
$primary-primary-400: #63dcfd;
$primary-primary-500: #54c8e8;
$primary-primary-600: #49abc6;
$primary-primary-700: #3b8fa7;
$primary-primary-800: #2d7083;
$primary-primary-900: #1b4d5b;
$neutral-grey-50: #f7f7f7;
$neutral-grey-100: #ebebeb;
$neutral-grey-200: #d3d3d3;
$neutral-grey-300: #c9c9c9;
$neutral-grey-400: #a9a9a9;
$neutral-grey-500: #878787;
$neutral-grey-600: #6a6a6a;
$neutral-grey-700: #4a4a4a;
$neutral-grey-800: #2b2b2b;
$neutral-grey-900: #171717;
$alert-surfarce-light: #fff5d5;
$alert-stroke: #efb008;
$alert-shadow: #976400;
$negative-icon: #d83232;
$secondery-secondery-100: #fff6eb;
$secondery-secondery-200: #ffe8cc;
$secondery-secondery-300: #ffd5a0;
$secondery-secondery-400: #ffba62;
$secondery-secondery-500: #faaa44;
$secondery-secondery-600: #e59b3d;
$secondery-secondery-700: #be8032;
$secondery-secondery-800: #a56e2a;
$secondery-secondery-900: #704b1d;
$primary-primary-50: #edfbff;
$alert-surfarce-dark: #ffde81;
$alert-text: #724b00;
$negative-surface-dark: #fc9595;
$neutral-grey-25: #fbfbfb;
$pink-theme-bg: var(--colors-pink-pink-10);
$pink-theme-contatiner: var(--colors-pink-pink-20);
$pink-theme-bottom-action: var(--colors-pink-pink-50);
$pink-theme-strok: var(--colors-pink-pink-50);
$blue-theme-bg: var(--primary-primary-50);
$blue-theme-contatiner: var(--primary-primary-100);
$blue-theme-bottom-action: var(--primary-primary-200);
$blue-theme-strok: var(--primary-primary-200);
$minimal-theme-bg: var(--neutral-white);
$minimal-theme-contatiner: var(--neutral-grey-25);
$minimal-theme-bottom-action: var(--primary-primary-200);
$minimal-theme-strok: var(--neutral-grey-50);

// Override Bootstrap Variables
$primary: $primary-primary-500;
$secondary: $secondery-secondery-500;
$success: $positive-icon;
$info: $primary-primary-300;
$warning: $alert-stroke;
$danger: $negative-icon;
$light: $neutral-grey-100;
$dark: $neutral-grey-900;

// Import Bootstrap