<div class="questions-list">
  <div class="question-item questions-header">
    <div class="question-title">{{ questions.length }} Questions</div>
    <div class="question-comprehension-skill">Comprehension Skills</div>
    <div class="empty-space"></div>
  </div>
  @for (question of questions; track $index) {
    <div class="question-item">
      <div class="question-title">{{ question.learningOutcomeName }}</div>
      <div class="question-comprehension-skill">{{ question.questionText }}</div>
      <button 
        pButton 
        label="View Question" 
        class="p-button-primary"
        (click)="viewQuestion(question)"
      ></button>
    </div>
  }
</div>

<p-dialog 
  [(visible)]="showQuestionDialog"
  [modal]="true"
  [style]="{width: '50vw', height: '80vh'}"
  [draggable]="false"
  [resizable]="false"
  [showHeader]="false"
  [closeOnEscape]="true"
  [dismissableMask]="true"
>
  @if (selectedQuestion) {
    <div class="question-image-container">
      <img [src]="'selectedQuestion.imageUrl'" [alt]="selectedQuestion.learningOutcomeName" />
    </div>
  }
</p-dialog>
