<div class="leveled-reading">
  <div class="header">
    <div class="tabs">
      <a
        class="tab"
        [routerLink]="'/features/leveled-reading'"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
      >
        Book List
      </a>
      <a
        class="tab"
        [routerLink]="'/features/leveled-reading/leveled-reading-view'"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
      >
        Leveled Reading
      </a>
    </div>
    
    <div class="buttons">
      <button
        pButton
        label=""
        class="p-button-outlined show-button"
        (click)="showStudentLevel()"
      >
        <span>Show Student Level</span>
      </button>
      <button
        pButton
        label=""
        class="p-button-outlined show-button"
        (click)="showCriteria()"
      >
        <span>Show Criteria</span>
      </button>
    </div>
  </div>
  <div class="content">
    <router-outlet />
  </div>
</div>
