<div class="leveled-reading">
  <div class="header">
    <div class="tabs">
      <a
        class="tab"
        [routerLink]="'/features/leveled-reading'"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
      >
        {{'BOOK_LIST' | translate}}
      </a>
      <a
        class="tab"
        [routerLink]="'/features/leveled-reading/leveled-reading-view'"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
      >
        {{'LEVELED_READING' | translate}}
      </a>
    </div>
    
    <div class="buttons">
      <button
        pButton
        label=""
        class="p-button-outlined show-button"
        (click)="showStudentLevel()"
      >
        <span>{{'SHOW_STUDENT_LEVEL' | translate}}</span>
      </button>
      <button
        pButton
        label=""
        class="p-button-outlined show-button"
        (click)="showCriteria()"
      >
        <span>{{'SHOW_CRETERIA' | translate}}</span>
      </button>
    </div>
  </div>
  <div class="content">
    <router-outlet />
  </div>
</div>
