<div class="container new-assignment-container">
  @if (!isReviewPage) {
  <app-custom-steps [items]="items" [activeIndex]="activeStep" />
  }

  @if (activeStep === 0) {
  <app-assignment-type-selector #assignmentTypeSelector [(callApi)]="callApi" [(selectedAssignmentType)]="selectedAssignmentType" (selectedAssignmentTypeChange)="isSetupValid = false" />
  }

  @if (activeStep === 1) {
  <app-assignment-setup (isSetupValid)="checkValidity($event)" />
  }

  @if (activeStep === 2 && selectedAssignmentType.assignmentTypeId == AssignmentAddTypesEnum.Skills) {
  <app-assignment-domains-and-skills (isSetupValid)="checkValidity($event)" />
  }

  @if (activeStep === 2 && selectedAssignmentType?.assignmentTypeId == AssignmentAddTypesEnum.ReadingComprehension) {
  <app-assignment-book (isSetupValid)="checkValidity($event)" />
  }

  @if (activeStep === 2 && selectedAssignmentType?.assignmentTypeId == AssignmentAddTypesEnum.OralReading) {
  <app-oral-assignment-book (isSetupValid)="checkValidity($event)" />
  }

  @if (activeStep === 2 && selectedAssignmentType?.assignmentTypeId == AssignmentAddTypesEnum.Listening) {
  <app-listening-assignment-book (isSetupValid)="checkValidity($event)" />
  }

  @if(activeStep === 2 && (selectedAssignmentType?.assignmentTypeId == AssignmentAddTypesEnum.Speaking ||
  selectedAssignmentType?.assignmentTypeId == AssignmentAddTypesEnum.Writing)) {
  <app-writing-speaking-assignment [type]="selectedAssignmentType?.name" [questions]="writingSpeakingQuestions"
    (questionsChange)="onQuestionsChange($event)" />
  }

  @if(selectedAssignmentType?.assignmentTypeId == AssignmentAddTypesEnum.Skills && isReviewPage) {
  <app-skills-review (activeStep)="changeActiveStep($event)" />
  }

  @if((selectedAssignmentType?.assignmentTypeId == AssignmentAddTypesEnum.ReadingComprehension ||
  selectedAssignmentType?.assignmentTypeId == AssignmentAddTypesEnum.OralReading ||
  selectedAssignmentType?.assignmentTypeId == AssignmentAddTypesEnum.Listening) && isReviewPage) {
  <app-assignment-book-review (stepChange)="handleStepChange($event)"></app-assignment-book-review>
  }

  @if((selectedAssignmentType?.assignmentTypeId == AssignmentAddTypesEnum.Speaking ||
  selectedAssignmentType?.assignmentTypeId == AssignmentAddTypesEnum.Writing) && isReviewPage) {
  <app-review-writing-speaking (stepChange)="handleStepChange($event)" [type]="selectedAssignmentType?.name"
    [questions]="writingSpeakingQuestions"></app-review-writing-speaking>
  }
</div>
<div class="assignment-footer" [ngClass]="activeStep === 0 ? 'center' : ''">
  <div>
    <button pButton type="button" label="Previous" class="p-button-outlined" *ngIf="activeStep !== 0"
      (click)="back()"></button>
  </div>
  <div class="d-flex gap-4">
    <button pButton type="button" label="Preview Assignment" class="p-button-outlined"
      *ngIf="activeStep !== 0 && isReviewPage" (click)="previewAssignment()"></button>
    <button pButton type="button" label="Next" class="p-button-primary" (click)="next()"
      [disabled]="isSetupValid" *ngIf="!isReviewPage"></button>
    <button *ngIf="isReviewPage" pButton type="button" label="Submit" class="p-button-primary" (click)="submit()"
      [disabled]="activeStep === 0 && !selectedAssignmentType"></button>
  </div>
</div>

<p-dialog [(visible)]="showSuccessDialog" [modal]="true" [style]="{ width: '450px' }" [draggable]="false"
  [resizable]="false" [closable]="true" [showHeader]="false" class="success-dialog" (onHide)="activeStep = 0" >
  <div class="dialog-content">
    <img src="icon-check-circle.svg" alt="" />
    <div class="success-message">Assignment Submitted Successfully!</div>
    <div class="dialog-buttons">
      <button pButton type="button" label="Assignment Details" class="p-button-outlined"
        (click)="onAssignmentDetails()"></button>
      <button pButton type="button" label="Confirm" class="p-button-primary" (click)="onConfirm()"></button>
    </div>
  </div>
</p-dialog>