.new-assignment-container {
  padding: 80px 0;
  min-height: 84vh;
}
.assignment-footer {
  padding: var(--padding-m);
  margin: 0 -16px;
  display: flex;
  justify-content: space-between;
  background-color: var(--primary-primary-50);

  &.center {
    justify-content: center;
  }

  .p-button-primary,
  .p-button-outlined {
    font-size: var(--font-size-l) !important;
    padding: var(--padding-xs) var(--padding-3xl) !important;
  }
}

::ng-deep {
  .p-steps {
    max-width: 40%;
    margin: 0 auto;
  }

  .p-steps-item:before {
    top: 72% !important;
  }

  .p-steps-item-number {
    border: 1px solid var(--neutral-grey-400) !important;
  }

  .p-steps-item-active .p-steps-item-number {
    border: 1px solid var(--primary-primary-600) !important;
    color: var(--primary-primary-50) !important;
  }

  .p-steps-item-completed {
    .p-steps-item-number {
      background-color: var(--primary-primary-900) !important;
      border: none !important;
      color: var(--neutral-white) !important;

      &::before {
        content: "\2713" !important; // Checkmark symbol
        font-family: "PrimeIcons" !important;
        font-size: var(--font-size-m) !important;
      }
    }

    .p-steps-item-label {
      color: var(--primary-primary-900) !important;
    }
  }

  .success-dialog {
    .p-dialog-header {
      padding-bottom: 0 !important;
    }

    .dialog-content {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: var(--padding-xl);

      .success-message {
        color: var(--primary-primary-900);
        font-size: var(--font-size-l);
        font-weight: var(--font-weight-bold);
        text-align: center;
        padding: 0 40px;
      }

      .dialog-buttons {
        display: flex;
        gap: var(--padding-m);
        width: 100%;

        .p-button {
          flex: 1;
          font-size: var(--font-size-s) !important;
          padding: var(--padding-s) var(--padding-m) !important;
        }
      }
    }
  }
}
