.units-container {
  padding: var(--padding-l);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: var(--padding-s);

  @media (max-width: 768px) {
    flex-direction: column;
    align-items: flex-start;
    gap: var(--gap-m);
  }
}

.page-title {
  font-family: "Space Grotesk", sans-serif;
  font-size: var(--font-size-l);
  font-weight: var(--font-weight-bold);
  color: var(--primary-primary-600);
  margin: 0;
}
