<div>
  <app-skill-summary
    [showAssignmentButton]="false"
    [data]="summaryData"
    (onSearchChange)="onSearchChange($event)"
  ></app-skill-summary>
  <div class="units-container">
    <div class="header">
      <h1 class="page-title">{{ "UNITS" | translate }}</h1>
    </div>

    <app-unit-cards [cards]="unitsPagination.units" (cardClick)="cardClick($event)" [first]="first" [rows]="unitsPagination.pageSize" [totalRecords]="unitsPagination.totalRecords" (paginatorState)="nextPage($event)" ></app-unit-cards>
  </div>
</div>
