<div class="units-container">
  <div class="header">
    <h1 class="page-title">{{'UNITS' | translate}}</h1>
    <div class="search-container">
      <span class="p-input-icon-left d-flex align-items-center position-relative">
        <input 
        type="text" 
        pInputText 
        placeholder="Search units..." 
        class="search-input"
        />
        <i class="pi pi-search position-absolute end-0 pe-3"></i>
      </span>
    </div>
  </div>
  
  <app-unit-cards [cards]="units"></app-unit-cards>

</div>
