<nav class="side-nav">
    <div class="frame">
      <img class="img" src="https://c.animaapp.com/2VIWDDZC/img/frame-57-2.svg" alt="Logo" />
      <div class="nav-content">
        <div class="side-tb">
          <img class="icon" src="https://c.animaapp.com/2VIWDDZC/img/flim-slate-2.svg" alt="Quick Actions Icon" />
          <h2 class="title">Quick Actions</h2>
        </div>
        <div class="side-tb-2">
          <header class="header">
            <div class="icon-and-title">
              <img class="icon" src="https://c.animaapp.com/2VIWDDZC/img/task-daily-02-9.svg" alt="Skills Icon" />
              <h3 class="text-wrapper">Skills</h3>
            </div>
            <img class="icon" src="https://c.animaapp.com/2VIWDDZC/img/arrow-up-01-3.svg" alt="Expand Skills" />
          </header>
          <div class="content">
            <div class="row">
              <h4 class="title-2">Units</h4>
              <img class="icon" src="https://c.animaapp.com/2VIWDDZC/img/arrow-right-02-7.svg" alt="Go to Units" />
            </div>
            <hr class="line" />
            <div class="row">
              <h4 class="title-2">All Skills</h4>
              <img
                class="icon"
                src="https://c.animaapp.com/2VIWDDZC/img/arrow-right-02-7.svg"
                alt="Go to All Skills"
              />
            </div>
          </div>
        </div>
        <div class="container-wrapper">
          <div class="container">
            <div class="icon-and-title">
              <img class="icon" src="https://c.animaapp.com/2VIWDDZC/img/elearning-exchange-2.svg" alt="Learn Icon" />
              <h2 class="title">Learn</h2>
            </div>
            <img class="icon" src="https://c.animaapp.com/2VIWDDZC/img/arrow-down-01-4.svg" alt="Expand Learn" />
          </div>
        </div>
        <div class="side-tb">
          <img class="icon" src="https://c.animaapp.com/2VIWDDZC/img/students-2.svg" alt="Students Icon" />
          <h2 class="title">Students</h2>
        </div>
        <div class="side-tb">
          <img class="icon" src="https://c.animaapp.com/2VIWDDZC/img/library-2.svg" alt="Resources Icon" />
          <h2 class="title">Resources</h2>
        </div>
        <div class="side-tb">
          <img class="icon" src="https://c.animaapp.com/2VIWDDZC/img/pie-chart-2.svg" alt="Reports Icon" />
          <h2 class="title">Reports</h2>
        </div>
      </div>
    </div>
    <div class="side-tb-wrapper">
      <div class="side-tb">
        <img class="icon" src="https://c.animaapp.com/2VIWDDZC/img/menu-02-2.svg" alt="Menu Icon" />
        <span class="visually-hidden">Toggle Menu</span>
      </div>
    </div>
  </nav>